<script type="text/x-template" id="list_form_component_template">

    <b-modal id="list_modal" :title="title_string" size="md" :visible=true hide-footer @hide="$router.go(-1)">
            
        <b-form-group id="name_form_group" label="List name:" label-for="list_name">
            <b-form-input id="list_name" name="list_name" v-model="name" required placeholder="Please pick a name">
            </b-form-input>
        </b-form-group>

        <b-form-group id="description_form_group" label="List description:" label-for="list_description">
            <b-form-textarea id="list_description" name="list_description" v-model="description" placeholder="Add a description">
            </b-form-textarea>
        </b-form-group>

        <b-button v-if=!list_id variant="outline-secondary" class="btn-sm" id="add_list_button" 
            @click="add_list">submit</b-button>
        <b-button v-if=list_id variant="outline-secondary" class="btn-sm" id="edit_list_save_button" 
            @click="edit_list">submit</b-button>

        <error-component :message=error_message></error-component>

    </b-modal>

</script>

<script type="application/javascript"> 

    var listFormComponent = Vue.component('list-form-component', {
        delimiters: ['[[', ']]'],
        template: '#list_form_component_template',
        props: ['list_id'],
        store,
        data: function() {
            return {
                name: null,
                description: null,
                error_message: null
            }
        },
        created () {
            if (this.list_id) {
                list = this.getListData(this.list_id)
                this.name = list.name
                this.description = list.description
            }
        },
        computed: {
            ...Vuex.mapState({ lists: state => state.simplelists.lists }),
            ...Vuex.mapGetters(['getListData']),
            title_string: function() {
                if (this.list_id) {  return "Edit list '" + this.name + "'" }
                else { return "Add a new list" }
            }
        },
        methods: {
            ...Vuex.mapActions(['addList', 'editList']),
            add_list() { 
                this.addList({ name: this.name, description: this.description })
                .catch(error => {  console.log(error), this.error_message = error })
                // close modal on success (in then)
            }, 
            edit_list() {
                this.editList({ list_pk: parseInt(this.list_id), name: this.name, description: this.description })
                .catch(error => {  this.error_message = error })
            }
        }
    })

</script>