<script type="text/x-template" id="simplelist_list_component_template">

    <span>

        <h4 class="text-secondary pb-3">{{ object.name }}'s Lists

        <router-link :to="{ name: 'add-new-list'}">
            <b-button variant="outline-secondary" 
                class="btn-sm ml-3" id="new_list_button">+ add new</b-button>
        </router-link>
        </h4>

        <router-link v-for="({ pk, name, description, rows }, index) in lists" v-bind:key=pk
                :to="{ name: 'list-detail', params: { list_id: pk } }" :id="'link_to_list_' + index">
            <b-card v-bind:key=pk class="bg-light text-info border-secondary mb-3">
                <b-card-title>[[ name ]]<span class="text-dark ml-2"><small>
                    [[ rows.length ]] items</small></span></b-card-title>
                <p class="mb-1 text-secondary list-description"> [[ description ]] </p>
            </b-card>
        </router-link>

        <span v-if="Object.keys(lists).length === 0">You do not have any lists yet.</span>

    </span>
       
</script>


<script type="application/javascript"> 

    // Main vue instance for list app
    var simplelistListComponent = Vue.component('simplelist-list-component', {
        delimiters: ['[[', ']]'],
        template: '#simplelist_list_component_template',
        store,
        data: function() {
            return {
            }
        },
        computed: {
            ...Vuex.mapState({ 
                lists: state => state.simplelists.lists,
                user_permissions: state => state.permissions.current_user_permissions
            }),
        },
        created () {
            this.getLists()
            this.checkPermissions({ permissions: { add_list: null }})
                .catch(error => {  this.error_message = error; console.log(error) })
        },
        methods: {
            ...Vuex.mapActions(['checkPermissions', 'getLists'])
        }
    })

</script>