{% extends 'accounts/base.html' %}

{% block content %}

<div class="col-2"></div>
<div class="col-8">

        <h5>There was a problem with our server</h5>

        <form method="post">
    
        <p class="pt-md-3 mt-5">
            We're sorry, something happened on our end.  If you're willing, please 
            <a href="glizzanplatform@gmail.com">email us</a> and let us know what you 
            were doing just now, so we can try to figure out what went wrong.
        </p>

</div>

    

{% endblock %}
