{% extends 'accounts/base.html' %}

{% block content %}

<div class="col-2"></div>
<div class="col-8"><h3>Welcome to Kybern!</h3>

<p class="text-justify mt-2">
    Most websites on this here internet assume a hierarchical model of user governance.  Each person's posts,
    comments, content are theirs and theirs alone, to do with as they please.  This works out well some of the 
    time, but what about communities that don't want a single all-powerful leader?  What about when consensus is
    important, or when community buy-in is necessary?
</p>

<p class="text-justify">
    Kybern is built to help communities explore new, non-hierarchical forms of governance.  There are a lot of
    new concepts we're introducing -- and we'll add a link to documentation right here, very soon! 
</p>

<p class="text-justify">
    Kybern is currently in early alpha, which means we <b>cannot</b> promise anything with regard to your data.
    Please do not assume that it will be kept private or that the data will not disappear suddenly.  Instead,
    treat this site like a playground, and poke around the features.  Do let us know if you find bugs of any
    kind, or if you have feature suggestions.  Thank you so much for your patience!
</p>

<p class="text-justify">Ready to get started?</p>

{% if user.is_authenticated %}

    <a class="btn btn-info" href="/groups/create/" role="button">Create a group</a></h5>

{% else %}

    <a class="btn btn-info" href="/login" role="button">Sign In</a></h5>
    <a class="btn btn-info" href="/register/" role="button">Register</a></h5>

{% endif %}


</div>

{% endblock %}