<script type="text/x-template" id="action_history_template">
    
  <span id="action_history">

      <span v-if="display_style == 'inline-button'">
          <b-button variant="outline-secondary" class="btn-sm" v-b-modal="modal_id" @click="get_actions"> 
              history</b-button>
      </span>
      <span v-else>
          <b-button variant="outline-secondary" class="mt-3" v-b-modal="modal_id" @click="get_actions"> 
              history</b-button>
      </span>


    <!-- Modal with more detailed info on all actions -->
    <b-modal :id=modal_id :title="title_string" class="modal fade" size="xl" @ok="handleOk">
      
      <b-container fluid id="action_history_table" v-if="!condition_type && !action_to_view_comments_on">   
          <!-- if condition is selected, or comments to view, replace table with ux for those things-->

            <b-col lg="6" class="my-1">
                <b-form-group label="Filter" label-cols-sm="3" label-align-sm="right" label-size="sm"
                                                                label-for="filterInput" class="mb-0">
                  <b-input-group size="sm">
                    <b-form-input v-model="filter" type="search" id="filterInput" 
                                          placeholder="Type to Search"></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>

            <b-table striped hover fixed :items="item_actions" :fields="action_fields" 
                :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :filter="filter"
                :filterIncludedFields="filterOn" id="action_history_table_element">

              <!-- Custom formatting for the has_condition column -->
              <template v-slot:cell(has_condition)="data">
                  <b-button v-if="data.item.has_condition && data.item.has_condition.exists" 
                      @click="launch_condition_modal(data.item)" size='sm'>view</b-button>
              </template>

              <!-- Custom formatting for discussion/comments column -->
              <template v-slot:cell(action_pk)="data">
                  <b-button @click="action_to_view_comments_on = data.item.action_pk" size='sm'>view discussion</b-button>
              </template>

            </b-table>

        </b-container>

        <approve-condition-ui v-if="condition_type=='ApprovalCondition'" :condition_pk=condition_pk
          :condition_type=condition_type :action_details=action_details>
        </approve-condition-ui>

        <vote-condition-ui v-if="condition_type=='VoteCondition'" :condition_pk=condition_pk
          :condition_type=condition_type :action_details=action_details>
        </vote-condition-ui>

        <comments v-if="action_to_view_comments_on" :item_id=action_to_view_comments_on :item_model="'action'">
        </comments>
        
    </b-modal>   
  </span>

</script>


<script>

// Action history component

actionHistoryComponent = Vue.component('action-history', {
    delimiters: ['[[', ']]'],
    template: '#action_history_template',
    props: ['item_id', 'item_model', 'item_name', 'display_style'],
    store,
    data: function() {
          return {
            action_fields: [
              { key: 'description', sortable: false },
              { key: 'actor', sortable: true },
              { key: 'created', sortable: true, formatter: (value, key, item) => {
                                                  return item.display_date
                                                }
              },
              { key: 'status', sortable: true },
              { key: 'resolution passed by', sortable: true },
              { key: 'action_pk', label: 'Discussion', sortable: false },
              { key: 'has_condition', sortable: true }
            ],
            sortBy: 'created',
            sortDesc: true,  
            filter: null,
            filterOn: [],
            // Info to pass to condition modal
            condition_type: null,
            condition_data: null,
            action_details: null,
            action_to_view_comments_on: null
          }
    },
    computed: {
      ...Vuex.mapState({ actions: state => state.concord_actions.actions }),
      item_actions: function() {
        item_key = this.item_id + "_" + this.item_model
        if (this.actions[item_key]) { return this.actions[item_key] } else { return [] }
      },
      modal_id: function() {
        return "action_history_modal_" + this.item_id + "_" + this.item_model
      },
      title_string: function() {
        if (this.action_to_view_comments_on != null) {
          return "Viewing discussion of action " + this.action_to_view_comments_on
        } else if (this.condition_type != null) {
          return this.condition_type + " on action '" + this.action_details.description + "'"
        } else {
          return "Action history for " + this.item_model + " " + this.item_name
        }
      }
    },
    methods: {
      ...Vuex.mapActions(['loadActions']),
      get_actions() { 
        this.loadActions({ item_id: this.item_id, item_model: this.item_model }).catch(error => {  console.log(error) })
      },
      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault() // Prevent modal from closing
        this.condition_type = null    // clear state
        this.condition_pk = null
        this.action_details = null
        this.action_to_view_comments_on = null
      },
      launch_condition_modal(item) {  
        // for now, we assume there's only one condition on the item, but that's not strictly garaunteed to be true
        condition = item.has_condition.conditions[0]
        this.condition_type = condition.type
        this.condition_pk = condition.pk
        this.action_details = item
        }
    }
})

</script>
