<script type="text/x-template" id="action_history_template">
  
  <!-- Modal with more detailed info on all actions -->
  <b-modal :id=modal_id size="xl" :visible=true hide-footer @hide="$router.go(-1)">

    <template v-slot:modal-header><h5>[[ title_string ]]</h5>
    </template>
    
    <b-container fluid id="action_history_table">   

          <b-col lg="6" class="my-1">
              <b-form-group label="Filter" label-cols-sm="3" label-align-sm="right" label-size="sm"
                                                              label-for="filterInput" class="mb-0">
                <b-input-group size="sm">
                  <b-form-input v-model="filter" type="search" id="filterInput" 
                                        placeholder="Type to Search"></b-form-input>
                  <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

          <b-table striped hover fixed :items="item_actions" :fields="action_fields" 
              :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :filter="filter"
              :filterIncludedFields="filterOn" id="action_history_table_element">

          <!-- Custom formatting for see more column -->
          <template v-slot:cell(action_target_content_type)="data">
        
              <router-link :to="{ name: 'action-detail', params: { action_id: data.item.action_pk }}">
                <b-button variant="outline-secondary" class="btn-sm action-link-button">link</b-button>
              </router-link>
        
            </template>

          <!-- Custom formatting for the status column -->
          <template v-slot:cell(status)="data">
            <span v-if="data.item.is_template">template action (see details for status)</span>
            <span v-else>[[data.item.status]]</span>
          </template>

          <!-- Custom formatting for the has_condition column -->
          <template v-slot:cell(has_condition)="data">
            <b-badge variant="light" v-if="data.item.has_condition && data.item.has_condition.exists">
              yes</b-badge>
          </template>

          <!-- Custom formatting for discussion/comments column -->
          <template v-slot:cell(action_pk)="data">
              <b-badge variant="light" v-if="data.item.has_condition && data.item.has_condition.exists">
                  unknown</b-badge>
          </template>

        </b-table>

    </b-container>
      
  </b-modal>

</script>


<script>

// Action history component

actionHistoryComponent = Vue.component('action-history', {
    delimiters: ['[[', ']]'],
    template: '#action_history_template',
    props: ['item_id', 'item_model', 'item_name'],
    store,
    data: function() {
          return {
            action_fields: [
              { key: 'action_target_content_type', label: 'See More', sortable: false },
              { key: 'description', sortable: false },
              { key: 'actor', sortable: true },
              { key: 'created', sortable: true, formatter: (value, key, item) => {
                                                  return item.display_date
                                                }
              },
              { key: 'status', sortable: true },
              { key: 'resolution passed by', sortable: true },
              { key: 'action_pk', label: 'Has Discussion', sortable: true },
              { key: 'has_condition', label: 'Has Condition', sortable: true }
            ],
            sortBy: 'created',
            sortDesc: true,  
            filter: null,
            filterOn: []
          }
    },
    created: function () {
      this.loadActions({ item_id: this.final_item_id, item_model: this.final_item_model })
        .catch(error => {  console.log(error) })
    },
    computed: {
      ...Vuex.mapState({ actions: state => state.concord_actions.actions }),
      final_item_id: function() { 
        return (typeof this.item_id === "undefined") ? {{ object.pk }} : this.item_id },
      final_item_model: function() { 
        return (typeof this.item_model === "undefined") ? 'group' : this.item_model },
      final_item_name: function() { 
        return (typeof this.item_name === "undefined") ? '{{ object.get_name }}' : this.item_name },
      item_actions: function() {
        item_key = this.final_item_id + "_" + this.final_item_model
        if (this.actions[item_key]) { return this.actions[item_key] } else { return [] }
      },
      modal_id: function() {
        return "action_history_modal_" + this.final_item_id + "_" + this.final_item_model
      },
      title_string: function() {
        return "Action history for " + this.final_item_model + " " + this.final_item_name
      }
    },
    methods: {
      ...Vuex.mapActions(['loadActions'])
    }
})

</script>
