
<approve-condition-ui v-if="condition.type=='ApprovalCondition'" :condition_pk=condition.pk
    :condition_type=condition.type :action_details=action></approve-condition-ui>

<vote-condition-ui v-if="condition.type=='VoteCondition'" :condition_pk=condition.pk
    :condition_type=condition.type :action_details=action></vote-condition-ui>

<consensus-condition-ui v-if="condition.type=='ConsensusCondition'" :condition_pk=condition.pk
    :condition_type=condition.type :action_details=action></consensus-condition-ui>