<script type="text/x-template" id="comment_template">

    <span>

        <b-card class="my-3">

            <b-card-text>[[ comment.text ]]</b-card-text>

            <template v-slot:footer>
                <b-button v-if="user_permissions.edit_comment" variant="outline-secondary" class="btn-sm" v-b-modal="comment_modal_id">
                    edit</b-button>
                <b-button v-if="user_permissions.delete_comment" variant="outline-secondary" class="btn-sm"
                    @click="delete_comment(comment.pk)">delete</b-button>
                <router-link :to="{ name: 'comment-action-history', params: {comment_id: comment.pk, 
                    item_id: comment.pk, item_model: 'comment', item_name: comment_name(comment.text) }}">
                    <b-button variant="outline-secondary" class="btn-sm"">comment history</b-button>
                </router-link>
                <router-link :to="{ name: 'comment-permissions', params: { comment_id: comment.pk, 
                    item_id: comment.pk, item_model: 'comment', item_name: comment_name(comment.text)}}">
                    <b-button variant="outline-secondary" class="btn-sm"">comment permissions</b-button>
                </router-link>
                <br />
                <small class="text-muted">Posted [[ display_date(comment.created_at) ]] 
                    by [[ getUserName(comment.commentor_pk) ]]</small>
            </template>

        </b-card>

        <b-modal :id="comment_modal_id" :title="title_string" hide-footer>

            <b-form-group id="comment_text_group">
                <b-form-textarea id="comment_text" v-model="comment_text" placeholder="Write your comment here">
                </b-form-textarea>
            </b-form-group>

            <b-button variant="outline-secondary" class="btn-sm"  @click="edit_comment">submit</b-button>

            <error-component :message=error_message></error-component>

        </b-modal>

    </span>

</script>


<script type="application/javascript"> 


    commentComponent = Vue.component('comment', {
        delimiters: ['[[', ']]'],
        template: '#comment_template',
        props: ['item_id', 'item_model', 'comment'],
        store,
        data: function() {
            return {
                comment_text: '',
                error_message: ''
            }
        },
        created () {
            alt_target = this.item_model + "_" + this.item_id
            this.checkPermissions({permissions: {"edit_comment": {alt_target: alt_target}, 
                "delete_comment": {alt_target: alt_target}}})
                .catch(error => {  this.error_message = error; console.log(error) })
            this.comment_text = this.comment.text
        },
        computed: {
            ...Vuex.mapState({ user_permissions: state => state.permissions.current_user_permissions }),
            ...Vuex.mapGetters(['getUserName']),
            title_string: function() {
                return "Edit " + this.comment_name(this.comment_text)
            },
            comment_modal_id: function() {
                return "item_comment_modal_" + this.item_id + "_" + this.item_model
            }
        },
        methods: {
            ...Vuex.mapActions(['checkPermissions', 'editComment', 'deleteComment']),
            display_date(date) { return Date(date) },
            comment_name(text) {
                if (text.length > 50) {
                    return "Comment: " + text.substr(0, 50) + "...'"
                } else {
                    return "Comment: '" + text + "'"
                }
            },
            edit_comment() {
                this.editComment({ text: this.comment_text, comment_pk: this.comment_pk })
                .then(response => { this.mode = 'add'; this.comment_pk = null; })
                .catch(error => {  this.error_message = error })
            },
            delete_comment(pk) {
                this.deleteComment({ item_id: this.item_id, item_model: this.item_model, comment_pk: pk })
                .catch(error => {  console.log(error) })
            }
        },
    });

</script>