{% extends 'accounts/base.html' %}

{% block content %}

    {% include 'groups/misc/html_templates_to_include.html' %}

    <div id="kybernApp">

        <div class="row">

            <div class="col-3">
                <router-view name="sidebar"></router-view>
            </div>

            <div class="col-9">
                <router-view name="main"></router-view>
            </div>

            <router-view name="modal"></router-view>

        </div>

    </div>

    <script type="application/javascript">

        const router = new VueRouter({
        routes: [
            {
                name: 'home',
                path: '/',
                components: {
                    sidebar: groupConfigComponent,
                    main: resourcesComponent
                }
            },
            // Permissions
            {
                name: 'item-permissions',
                path: '/permissions/:item_id/:item_model/:item_name',
                meta: { highlight: 'permissions'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: permissionedItemComponent
                }
            },
            {
                name: 'role-permissions',
                path: '/permissions/:role_to_edit',
                meta: { highlight: 'permissions'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: rolePermissionsComponent
                }
            },
            {
                name: 'user-permissions',
                path: '/permissions/user/:user_pk',
                meta: { highlight: 'permissions'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: personPermissionsComponent
                }
            },
            {
                name: 'advanced-permissions',
                path: '/advanced-permissions/:item_id/:item_model',
                meta: { highlight: 'permissions'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: advancedPermissionsComponent
                }
            },
            {
                name: 'conditions',
                path: '/conditions/:conditioned_on/:dependency_scope',
                meta: { highlight: 'permissions'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: conditionManagementComponent
                }
            },


            // Action history
            {
                name: 'action-history',
                path: '/actions/history/:item_id/:item_model/:item_name',
                meta: { highlight: 'history'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: actionHistoryComponent
                }
            },
            {
                name: 'action-detail',
                path: '/actions/detail/:action_id',
                meta: { highlight: 'history'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: actionDetailComponent
                }
            },
            // Templates
                        {
                name: 'templates',
                path: '/templates/:scope/',
                meta: { highlight: 'governance'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: templateComponent
                }
            },
            {
                name: 'item-templates',
                path: '/templates/:scope/:target_id/:target_model',
                meta: { highlight: 'governance'},
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: templateComponent
                }
            },
            // Group
            {
                name: 'edit-group',
                path: '/edit group',
                meta: { highlight: 'edit-group'},
                components: {
                    sidebar: groupConfigComponent,
                    main: resourcesComponent,
                    modal: editGroupComponent
                },
            },
            {
                name: 'governance',
                path: '/governance',
                meta: { highlight: 'governance'},
                components: {
                    sidebar: groupConfigComponent,
                    main: governanceComponent
                }
            },
            {
                name: 'change-leadership',
                path: '/governance/change-leadership',
                meta: { highlight: 'governance'},
                components: {
                    sidebar: groupConfigComponent,
                    main: changeLeadershipComponent
                }
            },
            {
                name: 'membership-settings',
                path: '/membership-settings',
                meta: { highlight: 'governance'},
                components: {
                    sidebar: groupConfigComponent,
                    main: groupMembershipSettingsComponent
                }
            },

            // Forums
            {
                name: 'forum-detail',
                path: '/forums/:forum_id',
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: forumComponent
                }
            },
            {
                name: 'governance-forum-detail',
                path: '/forums/governance/:forum_id',
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: governanceForumComponent
                }
            },
            {
                name: 'add-new-forum',
                path: '/forums/new',
                components: {
                    sidebar: groupConfigComponent,
                    main: forumsListComponent,
                    modal: forumFormComponent
                }
            },
            {
                name: 'edit-forum',
                path: '/forums/:forum_id/edit',
                props: { sidebar: false, main: true, modal: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: forumComponent,
                    modal: forumFormComponent
                }
            },
            {
                name: 'add-new-post',
                path: '/forums/:forum_id/new_post',
                props: { sidebar: false, main: true, modal: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: forumComponent,
                    modal: postFormComponent
                }
            },
            {
                name: 'edit-post',
                path: '/forums/:forum_id/posts/:post_id/edit',
                props: { sidebar: false, main: true, modal: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: forumComponent,  // switch to postComponent once made
                    modal: postFormComponent
                }
            },
            {
                name: 'post-detail',
                path: '/forums/:forum_id/posts/:post_id',
                props: { sidebar: false, main: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: postComponent
                }
            },
            // Lists
            {
                name: 'add-new-list',
                path: '/lists/new',
                components: {
                    sidebar: groupConfigComponent,
                    main: resourcesComponent,
                    modal: listFormComponent
                }
            },
            {
                name: 'edit-list-info',
                path: '/lists/edit/:list_id',
                props: { sidebar: false, main: false, modal: true },
                components: {
                    sidebar: groupConfigComponent,
                    main: resourcesComponent,
                    modal: listFormComponent
                }
            },
            {
                name: 'list-detail',
                path: '/lists/detail/:list_id',
                props: { sidebar: false, main: true},
                components: {
                    sidebar: groupConfigComponent,
                    main: listComponent
                }
            },
            {
                name: 'edit-list-row',
                path: '/lists/detail/:list_id/rows/:mode/:row_index',
                props: { sidebar: false, main: true, modal: true},
                components: {
                    sidebar: groupConfigComponent,
                    main: listComponent,
                    modal: listRowFormComponent
                }
            },
            {
                name: 'add-list-row',
                path: '/lists/detail/:list_id/rows/:mode',
                props: { sidebar: false, main: true, modal: true},
                components: {
                    sidebar: groupConfigComponent,
                    main: listComponent,
                    modal: listRowFormComponent
                }
            }
        ]
        })

        var kybernApp = new Vue({
            delimiters: ['[[', ']]'],
            el: '#kybernApp',
            store,
            router,
            methods: {
            ...Vuex.mapActions(['get_url_data']),
            },
            created: function () {
                this.get_url_data()
            }
        })

    </script>

{% endblock %}