{% extends 'accounts/base.html' %}

{% block content %}

    {% include 'groups/groups/html_templates_to_include.html' %}
    
    <div id="kybernApp">

        <div class="row">

        <div class="col-5">

            <group-config-component></group-config-component>   <!-- replace w/ router link soon -->
        
            <div class="mt-3">
                <governance-component></governance-component>  <!-- replace w/ router link soon -->
            </div>
        
        </div>
        
        <div class="col-7">
            <forums-list-component></forums-list-component>  <!-- replace w/ router link soon -->
        </div>

        </div>

    </div>

    <script type="application/javascript">

        var kybernApp = new Vue({
            delimiters: ['[[', ']]'],
            el: '#kybernApp',
            store
        })

    </script>

{% endblock %}