{% extends 'accounts/base.html' %}

{% block content %}

    <script type="application/javascript">

        Vue.component('vue-multiselect', window.VueMultiselect.default)

        // Hack, allows us to use template component alone
        const store = new Vuex.Store({ 
            state: {
                templates: {}
            },
            getters: {
                scopeTemplates: (state, getters) => (scope) => {
                    return state.templates[scope]
                },
                select_field_is_multiple: (state, getters) => (field) => { 
                    if (field.hasOwnProperty("other_data") && field["other_data"].hasOwnProperty("multiple")) {
                        return field["other_data"]["multiple"]
                    } else {
                        return true  // By default, select fields allow multiple
                    }
                },
                rolesAsOptions: (state, getters) => { return [] },
                groupMembersAsOptions: (state, getters) => { 
                    return [{ pk: {{ request.user.pk }}, name: '{{ request.user.username }}' }] },
            },
            mutations: { 
                REPLACE_SCOPE_TEMPLATES (state, data) { 
                    Vue.set(state.templates, data.scope, data.templates)
                }
            },
            actions: {
                getTemplatesForScope({ commit, state, dispatch}, payload) { 
                    url = "{% url 'get_templates_for_scope' %}"
                    params = { scope: 'community' }
                    return axios.post(url, params).then(response => { 
                        commit('REPLACE_SCOPE_TEMPLATES', { scope: response.data.scope, 
                            templates: response.data.templates }) 
                    }).catch(error => { console.log(error); throw error })
                },
                applyTemplate({ commit, state, dispatch}, payload) {
                    // Should not be called, just here to prevent template component from throwing error
                }
            }
        })
    </script>

    {% include 'groups/templates/template_info_component.html' %}
    {% include 'groups/templates/template_component.html' %}
    {% include 'groups/groups/error_component.html' %}

    <div class="col-2"></div>
    <div class="col-8" id="createGroupApp">

            <span v-if="!group_pk">
                <h5>Create your group</h5>
                
                <b-form-group label="Group name:" label-for="group_name">
                    <b-form-input id="group_name" name="group_name" v-model="group_name" required>
                    </b-form-input>
                    <small class="form-text text-muted">Please limit yourself to letters, numbers and spaces. 200 characters or fewer.</small>
                </b-form-group>
            
                <b-form-group label="Group description:" label-for="group_description">
                    <b-form-textarea id="group_description" name="group_description" v-model="group_description" required>
                    </b-form-textarea>
                </b-form-group>

                <error-component :message=group_error_message></error-component>
            </span>
            <span v-else>
                <h5>New Group: [[ group_name]] </h5>
                <p>Description: [[ group_description ]] </p>
            </span>

            <h5 class="text-info">Please select a template for your group</h5>

            <span v-if="!start_from_scratch">
                <small>Don't want a template? <span class="text-info" id="start_from_scratch" @click="start_from_scratch = true">
                    Start from scratch</span>. By default, you will be the only one able to do anything in your group.</small>
                <template-manager :scope="'community'" :create_group="true" ref="createCommunityTemplate"></template-manager>
                <error-component :message=template_error_message></error-component>
            </span>
            <p v-else>
                You have chosen not to use a template. <span class="text-info" @click="start_from_scratch = false">Use a template</span>.
            </p>

            <button display=block class="btn btn-info btn-block my-5" id="create_group_button" @click="create_group()">
                Create Your Group</button>
        
        </form>

    </div>

    <script type="application/javascript">

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
        axios.defaults.headers = { "headers": { 'Content-Type': "application/json" } }

        var createGroupApp = new Vue({
            delimiters: ['[[', ']]'],
            el: '#createGroupApp',
            store,
            data: {
                group_pk: null,
                group_name: "",
                group_description: "",
                start_from_scratch: false,
                group_error_message: null,
                template_error_message: null
            },
            methods: {
                create_group() {
                    if (!this.group_pk) {
                        // validate name & description
                        if (this.group_name == "") { this.group_error_message = "Your group must have a name"; return }
                        if (this.group_description == "") { this.group_error_message = "Your group must have a description"; return }

                        // create group and get pk
                        url = "{% url 'create_group' %}"
                        params = { group_name: this.group_name, group_description: this.group_description }
                        axios.post(url, params).then(response => { 
                            this.group_pk = response.data.group_pk
                            this.create_template()
                        }).catch(error => { this.group_error_message = error.message })
                    } else {
                        this.create_template()
                    }
                },
                go_to_group() {
                    protocol = {% if request.is_secure %} "https" {% else %} "http" {% endif %};
                    base_url = '://{{ request.get_host }}';
                    window.location.href = protocol + base_url + "/groups/" + this.group_pk + "/"
                },
                create_template() {
                    if (this.group_pk) {
                        
                        if (!this.start_from_scratch) {
                            
                            selected_template = this.$refs.createCommunityTemplate.selected_template
                            supplied_fields = this.$refs.createCommunityTemplate.configuration_fields

                            if (!selected_template) {
                                this.template_error_message = "You must select a template or 'start from scratch'."
                            }

                            if (!this.$refs.createCommunityTemplate.validate_template()) {
                                return
                            }

                            // then, once group is created, apply template
                            url = "{% url 'apply_template' %}"
                            params = { target_model: "group", target_pk: this.group_pk, supplied_fields: supplied_fields,
                                template_model_pk: selected_template.pk }
                            axios.post(url, params).then(response => {  this.go_to_group() })
                            .catch(error => { this.template_error_message = error.message })

                        } else {
                            this.go_to_group()
                        }
                    } 
                }
            }
        })
    
    
    </script>

{% endblock %}