<!-- Overarching Vuex Store for the group_detail view. -->

{% include 'groups/governance/governance_vuex_include.html' %}
{% include 'groups/permissions/permissions_vuex_include.html' %}
{% include 'groups/actions/actions_vuex_include.html' %}
{% include 'groups/forums/forums_vuex_include.html' %}
{% include 'groups/comments/comments_vuex_include.html' %}
{% include 'groups/templates/templates_vuex_include.html' %}


<script type="application/javascript"> 

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
    axios.defaults.headers = { "headers": { 'Content-Type': "application/json" } }

    // Create store

    const store = new Vuex.Store({
        modules: {
            concord_actions: ActionsVuexModule,  // use 'concord_actions' so as not to conflict with vuex actions
            forums: ForumsVuexModule,
            permissions: PermissionsVuexModule,
            governance: GovernanceVuexModule,
            comments: CommentVuexModule,
            templates: TemplateVuexModule 
        },
        state: { 
            group_name: '{{ object.name|escapejs }}',
            group_description: '{{ object.group_description|escapejs }}',
        },
        // getters: { },
        mutations: { 
            UPDATE_GROUP_NAME (state, data) { state.group_name = data.group_name },
            UPDATE_GROUP_DESCRIPTION (state, data) { state.group_description = data.group_description }
        },
        actions: { 

            // Group info actions

            changeGroupName({ commit, state, dispatch }, payload) { 
                url = "{% url 'change_group_name' %}"    
                params = { group_pk : payload.group_pk, new_name : payload.new_name }
                implementationCallback = (response) => { 
                    commit('UPDATE_GROUP_NAME', { group_name : response.data.group_name })
                }
                return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
            },

            changeGroupDescription({ commit, state, dispatch }, payload) { 
                url = "{% url 'change_group_description' %}"    
                params = { group_pk : payload.group_pk, new_description : payload.new_description }
                implementationCallback = (response) => { 
                    commit('UPDATE_GROUP_DESCRIPTION', { group_description : response.data.group_description })
                }
                return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
            },            

            // Should possibly be some kind of plugin, since any site requests should go through this

            actionAPIcall({ commit, state, dispatch }, payload) { 

                url = payload.url
                params = payload.params
                implementationCallback = payload.implementationCallback

                return axios.post(url, params).then(response => {

                    if (response.data.action_status != "invalid") {
                        dispatch('updateActions', { response: response })
                    }
                    if (response.data.action_status == "implemented") {
                        implementationCallback(response)
                    } else {
                        console.log("Not implemented due to: ", response.data.action_developer_log)
                        throw response.data.action_log
                    }

                }).catch(error => { 
                    console.log("Error: ", error); throw error })
            },

            getAPIcall({ commit, state, dispatch }, payload) { 
            // we might not need this method, since view should be an action, but let's keep it for now


                var url = payload.url
                var params = payload.params
                var implementationCallback = payload.implementationCallback

                return axios.post(url, params).then(response => { implementationCallback(response) })     
                .catch(error => { console.log(error); throw error })
            }

        }
    })

    </script>