<script type="text/x-template" id="group_config_component_template">
<!-- Interface for editing group, its permissions and history -->

    <span>

    <div class="card">
        <h5 class="card-header">[[ group_name ]]</h5>
        <div class="card-body">
            <p class="card-text">[[ group_description ]]</p>
        </div>
    </div>

    <b-button variant="outline-secondary" class="mt-3" v-b-modal.edit_group_modal>edit group</b-button>

    <permissioned_item :item_id=item_id :item_model=item_model :item_name=group_name 
        :display_style="'group-display'"></permissioned_item>

    <action-history :item_id=item_id :item_model=item_model :item_name=group_name></action-history>  


    <b-modal id="edit_group_modal" title="edit your group" size="md" hide-footer>
            
        <b-form-group id="name" label="Group name:" label-for="group_name">
            <b-form-input id="group_name" v-model="edited_group_name" required>
            </b-form-input>
        </b-form-group>
    
        <b-form-group id="description" label="Group description:" label-for="group_description">
            <b-form-textarea id="group_description" v-model="edited_group_description" required 
                placeholder="Add a group description">
            </b-form-textarea>
        </b-form-group>
    
        <b-button variant="outline-secondary" class="btn-sm"  @click="save_edited_group">save</b-button>
    
        <div>[[ error_message ]]</div>
    
    </b-modal>

    </span>

</script>


<script type="application/javascript">

    var groupConfigComponent = Vue.component('group-config-component', {
        delimiters: ['[[', ']]'],
        template: '#group_config_component_template',
        store,
        data: function() {
            return {
                item_id: {{ object.pk }},
                item_model: 'group',
                edited_group_name: '{{ object.name|escapejs }}',
                edited_group_description: '{{ object.group_description|escapejs }}',
                error_message: ''
            }
        },
        computed: {
            ...Vuex.mapState({ group_name: state => state.group_name, group_description: state => state.group_description })                
        },
        methods: { 
            ...Vuex.mapActions(['changeGroupName', 'changeGroupDescription']),
            save_edited_group() {

                if (this.group_name != this.edited_group_name ) {

                    this.changeGroupName({ group_pk: this.item_id, new_name: this.edited_group_name })
                    .then(response => { this.group_name = this.edited_group_name })
                    .catch(error => { this.error_message = error })

                } 

                if (this.group_description != this.edited_group_description) {

                    this.changeGroupDescription({ group_pk: this.item_id, 
                        new_description: this.edited_group_description })
                    .then(response => { this.group_description = this.edited_group_description })
                    .catch(error => { this.error_message = error })

                }
            }
        }
    });

</script>