<!-- Action templates -->
{% include 'groups/actions/action_history_component.html' %}
{% include 'groups/actions/action_detail_component.html' %}
{% include 'groups/actions/approve_condition_component.html' %}
{% include 'groups/actions/vote_condition_component.html' %}

<!-- Permissions templates -->
{% include 'groups/permissions/add_permission_component.html' %}
{% include 'groups/permissions/edit_permission_component.html' %}
{% include 'groups/permissions/permission_condition_component.html' %}
{% include 'groups/permissions/manage_leadership_condition_component.html' %}
{% include 'groups/permissions/role_permissions_component.html' %}
{% include 'groups/permissions/item_permissions_component.html' %}
{% include 'groups/permissions/advanced_permissions_component.html' %}
{% include 'groups/permissions/dependent_field_component.html' %}

<!-- Governance templates -->
{% include 'groups/governance/governance_component.html' %}
{% include 'groups/governance/leadership_component.html' %}
{% include 'groups/governance/change_leadership_component.html' %}
{% include 'groups/governance/group_membership_component.html' %}
{% include 'groups/governance/membership_settings_component.html' %}
{% include 'groups/governance/role_membership_component.html' %}
{% include 'groups/governance/role_component.html' %}
{% include 'groups/governance/add_role_component.html' %}

<!-- Forum templates -->
{% include 'groups/forums/forum_component.html' %}
{% include 'groups/forums/forum_list_component.html' %}
{% include 'groups/forums/forum_form_component.html' %}
{% include 'groups/forums/post_form_component.html' %}
{% include 'groups/forums/post_component.html' %}
{% include 'groups/forums/governance_forum_component.html' %}
{% include 'groups/forums/governance_forum_link_component.html' %}

<!-- List templates -->
{% include 'groups/simplelists/simplelist_list_component.html' %}
{% include 'groups/simplelists/list_form_component.html' %}
{% include 'groups/simplelists/simplelist_component.html' %}
{% include 'groups/simplelists/row_form_component.html' %}

<!-- Misc templates -->
{% include 'groups/comments/comment_list_component.html' %}
{% include 'groups/comments/comment_component.html' %}
{% include 'groups/templates/template_component.html' %}
{% include 'groups/templates/template_info_component.html' %}
{% include 'groups/groups/group_config_component.html' %}
{% include 'groups/groups/edit_group_component.html' %}
{% include 'groups/groups/error_component.html' %}
{% include 'groups/groups/resources_component.html' %}