<!-- Action templates -->
{% include 'groups/actions/action_history_component.html' %} 
{% include 'groups/actions/template_action_history_component.html' %} 
{% include 'groups/actions/approve_condition_component.html' %}  
{% include 'groups/actions/vote_condition_component.html' %}  

<!-- Permissions templates -->
{% include 'groups/permissions/add_permission_component.html' %}
{% include 'groups/permissions/edit_permission_component.html' %}
{% include 'groups/permissions/permission_condition_component.html' %}
{% include 'groups/permissions/manage_leadership_condition_component.html' %}
{% include 'groups/permissions/role_permissions_component.html' %}
{% include 'groups/permissions/item_permissions_component.html' %}

<!-- Governance templates -->
{% include 'groups/governance/governance_component.html' %}
{% include 'groups/governance/leadership_component.html' %}
{% include 'groups/governance/group_membership_component.html' %}     
{% include 'groups/governance/role_membership_component.html' %}
{% include 'groups/governance/add_role_component.html' %}

<!-- Misc templates -->
{% include 'groups/comments/comment_component.html' %} 
{% include 'groups/templates/template_component.html' %}
{% include 'groups/forums/forum_component.html' %}
{% include 'groups/forums/forum_list_component.html' %}
{% include 'groups/groups/group_config_component.html' %}
        
