<script type="text/x-template" id="resources_component_template">

    <span>

        <forums-list-component></forums-list-component>

        <hr />

        <simplelist-list-component></simplelist-list-component>

    </span>

</script>

<script type="application/javascript"> 

    resourcesComponent = Vue.component('resources-component', {
        delimiters: ['[[', ']]'],
        template: '#resources_component_template',
        store,
        mixins: [utilityMixin],
        data: function() {
            return {}
        }
    })

</script>