<script type="text/x-template" id="forum_list_component_template">

    <span>

        <h4 class="text-secondary pb-3">{{ object.name }}'s Forums   
            <router-link :to="{ name: 'add-new-forum'}">
                <b-button variant="outline-secondary" class="btn-sm ml-3" id="new_forum_button">
                    + add new</b-button>
            </router-link>
        </h4>

        <router-link v-for="{ pk, name, description } in forums" v-bind:key=pk
                                :to="{ name: 'forum-detail', params: { forum_id: pk } }">
            <b-card :title=name v-bind:key=pk class="bg-light text-info border-secondary mb-3">
                <p class="mb-1 text-secondary forum-description">  [[ description ]]  </p>
            </b-card>
        </router-link>

        <span v-if="Object.keys(forums).length === 0">You do not have any forums yet.</span>

    </span>
       
</script>


<script type="application/javascript"> 

    // Main vue instance for forums app
    var forumsListComponent = Vue.component('forums-list-component', {
        delimiters: ['[[', ']]'],
        template: '#forum_list_component_template',
        store,
        data: function() {
            return {
            }
        },
        computed: {
            ...Vuex.mapState({ forums: state => state.forums.forums }),
        }
    })

</script>