<script type="application/javascript">

const ForumsVuexModule = {
    state: {
        forums: {{ forums|safe }},      // [ { pk: pk, name: name, description: description }],
        posts: []                       // [ { forum_pk: pk, title: title, content: content, author: author, etc } ] }
    },
    getters: { 
        getForum: (state, getters) => (forum_pk) => { 
            return state.forums.find(forum => forum.pk == forum_pk)
        },
        getPostsForForum: (state, getters) => (forum_pk) => {
            return state.posts.filter(post => post.forum_pk == forum_pk)
        }
    },
    mutations: { 
    
        ADD_OR_UPDATE_FORUM (state, data) {
            for (index in state.forums) {
                if (state.forums[index].pk == data.forum_data.pk) {
                    state.forums.splice(index, 1, data.forum_data)
                    return
                }
            }
            state.forums.push(data.forum_data)
        },
        DELETE_FORUM (state, data) { 
            for (index in state.forums) {
                if (state.forums[index].pk == data.pk) {
                    state.forums.splice(index, 1)
                }
            }
        },
        ADD_POST (state, data) {
            for (index in state.posts) {
                if (state.posts[index].pk == data.post_data.pk) {
                    return   // if it already exists, don't add it
                }
            }
            state.posts.push(data.post_data)
        },
        EDIT_POST (state, data) {
            for (index in state.posts) {
                if (state.posts[index].pk == data.post_data.pk) {
                    Vue.set(state.posts, index, data.post_data)
                }
            }
        },
        DELETE_POST (state, data) {
            for (index in state.posts) {
                if (state.posts[index].pk == data.pk) {
                    state.posts.splice(index, 1)
                }
            }
        }
    },
    actions: {
        addForum({ commit, state, dispatch}, payload) {
            url = "{% url 'add_forum' target=object.pk %}"    
            params = { name: payload.name, description: payload.description }
            implementationCallback = (response) => {
                commit('ADD_OR_UPDATE_FORUM', { forum_data : response.data.forum_data })
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        editForum({ commit, state, dispatch}, payload) { 
            url = "{% url 'edit_forum' target=object.pk %}"    
            params = { pk: payload.pk, name: payload.name, description: payload.description }
            implementationCallback = (response) => {
                commit('ADD_OR_UPDATE_FORUM', { forum_data : response.data.forum_data })
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        deleteForum({ commit, state, dispatch}, payload) { 
            url = "{% url 'delete_forum' target=object.pk %}"    
            params = { pk: payload.pk }
            implementationCallback = (response) => {
                commit('DELETE_FORUM', { pk : response.data.deleted_forum_pk })
                // TODO: need to delete permissions set on forum in state.permissions plus key-value in item_permissions
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        getPostData({ commit, state, dispatch}, payload) { 
            url = "{% url 'get_posts_for_forum' target=object.pk %}"    
            params = { forum_pk: payload.forum_pk }
            implementationCallback = (response) => { 
                for (index in response.data.posts) {
                    commit('ADD_POST', { post_data: response.data.posts[index] })
                }
            }
            return dispatch('getAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        addPost ({ commit, state, dispatch }, payload) { 
            url = "{% url 'add_post' target=object.pk %}"    
            params = { forum_pk: payload.forum_pk, title: payload.title, content: payload.content  }
            implementationCallback = (response) => { 
                commit('ADD_POST', { post_data: response.data.post_data})
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        editPost ({ commit, state, dispatch }, payload) { 
            url = "{% url 'edit_post' target=object.pk %}"    
            params = { pk: payload.pk, title: payload.title, content: payload.content  }
            implementationCallback = (response) => { 
                commit('EDIT_POST', { post_data: response.data.post_data})
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        },
        deletePost ({ commit, state, dispatch }, payload) { 
            url = "{% url 'delete_post' target=object.pk %}"    
            params = { pk: payload.pk, forum_pk: payload.forum_pk }
            implementationCallback = (response) => { 
                commit('DELETE_POST', { pk: response.data.deleted_post_pk })
            }
            return dispatch('actionAPIcall', { url: url, params: params, implementationCallback: implementationCallback})
        }
     }
}

</script>