<script type="text/x-template" id="governance_forum_component_template">

    <span>

        <h3 class="mt-3">[[ forum_name ]]</h3>
        <p>[[ forum_description ]] of {{ object.get_name }}</p>

        <router-link :to="{ name: 'edit-forum', params: { forum_id: forum_id } }" v-if="user_permissions.edit_forum">
            <b-button variant="outline-secondary" class="btn-sm" id="edit_forum_button">
                edit forum info</b-button>
        </router-link>
        
        <router-link :to="{ name: 'forum-action-history', 
            params: {forum_id: forum_id, item_id: forum_id, item_model: 'forum', item_name: forum_name }}">
            <b-button variant="outline-secondary" class="btn-sm"" id="forum_history_button">forum history</b-button>
        </router-link>

        <router-link :to="{ name: 'forum-permissions', 
            params: {forum_id: forum_id, item_id: forum_id, item_model: 'forum', item_name: forum_name }}">
            <b-button variant="outline-secondary" id="forum_permissions" class="btn-sm"">forum permissions</b-button>
        </router-link>

        <error-component :message="delete_error_message"></error-component>

        <hr >

            <router-link :to="{ name: 'add-new-post'}" v-if="user_permissions.add_post">
                <b-button variant="outline-secondary" class="btn-sm mr-3 mb-3" id="add_post_button">
                    + add post</b-button>
            </router-link>

            <error-component :message="list_post_error_message"></error-component>

            <router-link v-for="{ pk, title, content } in posts" v-bind:key=pk
                                :to="{ name: 'post-detail', params: { forum_id: forum_id, post_id: pk } }">
                <b-card :title=title v-bind:key=pk class="bg-light text-info border-secondary mb-3">
                    <p class="mb-1 text-secondary post-content">  [[ shorten_text(content, 100) ]]  </p>
                </b-card>
            </router-link>
    
            <span v-if="Object.keys(posts).length === 0">There are no posts yet in this forum.</span>

    </span>

</script>

<script type="application/javascript"> 

    governanceForumComponent = Vue.component('governance-forum-component', {
        delimiters: ['[[', ']]'],
        template: '#governance_forum_component_template',
        props: ['forum_id'],
        store,
        mixins: [utilityMixin],
        data: function() {
                return {
                    delete_error_message: null,
                    add_post_error_message: null,
                    list_post_error_message: null
                }
            },
        created (){ 
            this.getPosts({ forum_pk: parseInt(this.forum_id) })
            .catch(error => { this.list_post_error_message = "Error getting post data from server " })
            alt_target = "forum_" + this.forum_id
            this.checkPermissions({
                permissions: 
                    {edit_forum: {alt_target : alt_target}, 
                    add_post: {alt_target : alt_target}}
            }).catch(error => {  this.error_message = error; console.log(error) })
        },
        computed: {
            ...Vuex.mapState({user_permissions: state => state.permissions.current_user_permissions}),
            ...Vuex.mapGetters(['getForumData', 'getPostsDataForForum', 'getUserName']),
            posts: function() {
                if (this.forum_id) { return this.getPostsDataForForum(this.forum_id) }
            },
            forum_name: function() {
                if (this.forum_id) { return this.getForumData(this.forum_id).name }          
            },
            forum_description: function() {
                if (this.forum_id) { return this.getForumData(this.forum_id).description } 
            }
        },
        methods: {
            ...Vuex.mapActions(['checkPermissions','getPosts', 'addPost']),
            display_date(date) { return Date(date) },
            add_post() {
                this.addPost({ forum_pk: this.forum_id, title: this.post_title, content: this.post_content })
                    .catch(error => {  this.add_post_error_message = error })
            }
        }
    })


</script>