<script type="text/x-template" id="post_component_template">

    <span>

        <h3>[[ post.title ]]</h3>
        <small class="text-muted">Posted in [[ forum_name ]] on [[ display_date(post.created) ]] 
            by [[ post.author ]]</small>

        <!-- Nav links -->

        <div class="my-3">

            <router-link :to="{ name: 'edit-post', params: { forum_id: forum_id, post_id: post_id } }"
                v-if="user_permissions.edit_post">
                <b-button variant="outline-secondary" class="btn-sm" id="edit_post_button">
                    edit post</b-button>
            </router-link>

            <b-button v-if="user_permissions.delete_post" variant="outline-secondary" class="btn-sm" 
                id="delete_post_button" 
                @click="delete_post(post_id)">delete post</b-button>
            
            <router-link :to="{ name: 'post-action-history', params: {forum_id: forum_id,
                post_id: post_id, item_id: post_id, item_model: 'post', item_name: post.title }}">
                <b-button variant="outline-secondary" class="btn-sm"">post history</b-button>
            </router-link>

            <router-link :to="{ name: 'post-permissions', params: {forum_id: forum_id,
                post_id: post_id, item_id: post_id, item_model: 'post', item_name: post.title }}">
                <b-button variant="outline-secondary" class="btn-sm"">post permissions</b-button>
            </router-link>

            <error-component :message="delete_error_message"></error-component>

        </div>

        <!-- Content -->
        <error-component :message="get_post_error_message"></error-component>
        <p class="mb-3 text-secondary">  [[ post.content ]]  </p>
        <comment-list :item_id=post_id :item_model="'post'" class="mt-3"></comment-list>

    </span>

</script>

<script type="application/javascript"> 

postComponent = Vue.component('post-component', {
    delimiters: ['[[', ']]'],
    template: '#post_component_template',
    props: ['forum_id', 'post_id'],
    store,
    mixins: [utilityMixin],
    data: function() {
            return {
                delete_error_message: null,
                get_post_error_message: null,
                post: { 'title': '', 'created': '', 'author': ''},
                forum_name: 'a forum'
            }
        },
    created (){ 
        // Would be nice to check if it's already in vuex, which it will be when we're not arriving
        // via router, but I don't know how to make vuex, router, and my funky wrappers work together
        this.getPost({ post_pk: this.post_id}).then(response => { 
            this.post = this.getPostData(this.post_id)
            this.post.author = this.getUserName(this.post.author)
        }).catch(error => { console.log("Failed to get post: ", this.post_id, error) })
        this.getForum({forum_pk: parseInt(this.forum_id)}).then(response => { 
            this.forum_name = this.getForumData(this.forum_id).name
        }).catch(error => {  console.log("Failed to get forum: ", this.forum_id, error) })
        // Check permissions
        alt_target = "post_" + this.post_id
        this.checkPermissions({ permissions: {edit_post: {alt_target:alt_target}, 
            delete_post: {alt_target:alt_target}}
        }).catch(error => {  this.error_message = error; console.log(error) })
    },
    computed: {
        ...Vuex.mapState({user_permissions: state => state.permissions.current_user_permissions}),
        ...Vuex.mapGetters(['getUserName', 'getPostData', 'getForumData']),
    },
    methods: {
        ...Vuex.mapActions(['checkPermissions', 'deletePost', 'getPost', 'getForum']),
        display_date(date) { return Date(date) },
        delete_post(pk) {
            this.deletePost({ pk : pk, forum_pk: this.forum_id })
            .then(response => { this.$router.push({name: 'forum-detail', 
                                                params: {forum_id: this.forum_id}}) })
            .catch(error => {  this.delete_error_message = error })
        }
    }
})


</script>