{% extends 'accounts/base.html' %}

{% block content %}

    <div class="col-2"></div>
    <div class="col-8">

        <h5>Register</h5>

        <form method="post">
            {% csrf_token %}
    
            {{ form.errors }}
    
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" name="username" class="form-control" maxlength="150" id="username" required>
                    <small id="usernameHelpBlock" class="form-text text-muted">
                            150 characters or fewer. Letters, digits and @/./+/-/_ only.            
                    </small>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email Address</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" maxlength="254" id="email" required>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="password1" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" name="password1" class="form-control" id="password1" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Your password can’t be too similar to your other personal information.
                        Your password must contain at least 8 characters.
                        Your password can’t be a commonly used password.
                        Your password can’t be entirely numeric.
                    </small>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="password2" class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                    <input type="password" name="password2" class="form-control" id="password2" required>
                </div>
            </div>
    
            <button type="submit" class="btn btn-info" id="submit_registration">Submit</button>
        </form>

    </div>
    <div class="col-sm-2"></div>

{% endblock %}

