<div id="action_history">

    <b-badge variant="info" pill v-b-modal.action_history_modal>view full history</b-badge>

  <!-- Simple table to show recent actions -->
  <b-table :items="recent_actions" :fields="recent_action_fields" id="recent_actions" striped small>
  </b-table>

  <!-- Modal with more detailed info on all actions -->
  <b-modal id="action_history_modal" :title="title_string" class="modal fade" size="xl" @ok="handleOk">
     
    <b-container fluid id="action_history_table" v-if=!condition_type>   <!-- if condition is selected, replace table with ux for condition -->

          <b-col lg="6" class="my-1">
              <b-form-group
                label="Filter"
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                label-for="filterInput"
                class="mb-0"
              >
                <b-input-group size="sm">
                  <b-form-input
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

          <b-table striped hover fixed :items="actions" :fields="action_fields" 
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :filter="filter"
          :filterIncludedFields="filterOn">

            <!-- Custom formatting for the has_condition column -->
            <template v-slot:cell(has_condition)="data">
                <b-button v-if="data.item.has_condition.exists" size='sm'
                  @click="launch_condition_modal(data.item)">
                  View conditional [[ data.item.has_condition.pk ]] </b-button>
            </template>

          </b-table>


      </b-container>

      <approve-condition-ui v-if="condition_type=='ApprovalCondition'" :condition_data=condition_data
        :condition_type=condition_type >
      </approve-condition-ui>

  </b-modal>   
</div>

{% include 'groups/approve_condition_include.html' %}

<script>

// Helper methods used for all condition interactions
Vue.mixin({
  methods: {
    get_condition_data(condition_pk, condition_type) {
        axios = this.prep_axios()
        url = "http://127.0.0.1:8000/groups/get_condition_data/{{ object.pk}}/";
        params = { condition_type: condition_type, condition_pk: condition_pk }
        return axios.post(url, params)
      },
    get_action_data(action_pk) {
      axios = this.prep_axios()
      url = "http://127.0.0.1:8000/groups/get_action_data/";
      params = { action_pk : action_pk }
      return axios.post(url, params)
    }
  }
})

// Main vue instance for action history app
var actionHistoryApp = new Vue({
    delimiters: ['[[', ']]'],
    el: '#action_history',
    data: {
      // For recent actions table
      recent_action_fields: ['display', 'status', 'actor', 'display_date'],
      recent_actions: {{ recent_actions|safe }},  // replace with computed from actions (need to learn to sort by UTCs)
      // For full action history modal
      action_fields: [
        { key: 'description', sortable: false },
        { key: 'actor', sortable: true },
        { key: 'created', sortable: true, formatter: (value, key, item) => {
              return item.display_date
            }
        },
        { key: 'status', sortable: true },
        { key: 'resolution passed by', sortable: true },
        { key: 'has_condition', sortable: true }
      ],
      actions: {{ actions|safe }},
      sortBy: 'created',
      sortDesc: true,  
      filter: null,
      filterOn: [],
      // Info to pass to condition modal
      condition_type: null,
      condition_data: null
    },
    computed: {
      title_string: function() {
        if (this.condition_type == null) {
          return "Action history for {{ object.name }}"
        } else {
          return this.condition_type + " on action '" + this.condition_data.action_details.description + "'"
        }
      }
    },
    created (){

      // FIXME: need to make sure the actions created and changed that are pinging here are *ON THE TARGET*

      // Listen for new actions and add them
      EventBus.$on('action-created', (action_pk) => {
        console.log("New action has been created: ", action_pk);
        this.get_action_data(action_pk).then(response => {
          this.actions.push(response.data.action_data)
        })
        .catch(error => { console.log("ERROR adding action " + action_pk + ":" + error) })
      })
      // Listen for changed actions and update them
      EventBus.$on('action-changed', (action_pk) => {
        this.get_action_data(action_pk).then(response=> {
          matching_action_index = null
          this.actions.forEach(function(action, index) {
            if (action.action_pk == action_pk) { matching_action_index = index } })
          this.actions.splice(matching_action_index, 1, response.data.action_data)
        })
        .catch(error => { console.log("ERROR updating action " + action_pk + ":" + error) })
      })
    },
    methods: {
      handleOk(bvModalEvt) {
        bvModalEvt.preventDefault() // Prevent modal from closing
        this.condition_type = null    // clear state
        this.condition_data = null
      },
      launch_condition_modal(item) {        
        // eventually use this https://stackoverflow.com/a/43658979/1026275
        this.get_condition_data(item.has_condition.pk, item.has_condition.type)
        .then(response=> {
            this.condition_data = {
              'condition_pk': item.has_condition.pk,
              'action_pk': item.action_pk,
              'action_details': item,
              'permission_details': response.data.permission_details,
              'condition_details': response.data.condition_details
            }
            this.condition_type = item.has_condition.type
        }).catch(error => { console.log("ERROR again: ", error) })
      }
    }
})


</script>
