<script type="text/x-template" id="add_role_modal_template">

    <b-modal id="add_role_modal" title="Add a new role" @ok="submitRoleName($event)">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="role_name_prompt">Role Name</span>
            </div>
            <input type="text" class="form-control" aria-label="role_name" 
                aria-describedby="role_name_prompt" v-model="role_name">
        </div>

        <div class="mb-3" v-if="error_message">
            [[ error_message ]]
        </div>

        <template v-slot:modal-footer="{ ok }">
            <b-button size="sm" variant="success" @click="ok()">Save</b-button>
        </template>

    </b-modal>

</script>


<script type="application/javascript">


    addRoleComponent = Vue.component('add-role-modal', {
        delimiters: ['[[', ']]'],
        template: '#add_role_modal_template',
        data: function() {
            return {
                error_message: '',
                role_name: '',
            }
        },
        methods: {
            submitRoleName(bvModalEvt) {
                bvModalEvt.preventDefault();
                url = "http://127.0.0.1:8000/groups/add_role/{{ object.pk}}/"
                params = { role_name: this.role_name }
                implementationCallback = () => {
                    this.$emit('add-new-role', this.role_name )
                    this.role_name = '';
                }
                this.submit_standard_axios_action_call(url, params, implementationCallback)
            }
        }
    });

</script>