<script type="text/x-template" id="add_role_modal_template">

    <b-modal id="add_role_modal" title="Add a new role" @ok="submitRoleName($event)">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="role_name_prompt">Role Name</span>
            </div>
            <input type="text" class="form-control" aria-label="role_name" 
                aria-describedby="role_name_prompt" v-model="new_role_name">
        </div>

        <div class="mb-3 text-warning" v-if="error_message">
            [[ error_message ]]
        </div>

        <!-- <div>FYI, here are the current roles: <span v-for="role in roles" class="ml-3">[[role.name]]</span></div> -->

        <template v-slot:modal-footer="{ ok }">
            <b-button size="sm" variant="success" @click="ok()">Save</b-button>
        </template>

    </b-modal>

</script>


<script type="application/javascript">

    addRoleComponent = Vue.component('add-role-modal', {
        delimiters: ['[[', ']]'],
        template: '#add_role_modal_template',
        store,
        data: function() {
            return {
                error_message: '',
                new_role_name: '',
            }
        },
        computed: { ...Vuex.mapState(['roles']) },   // Gets existing roles from data store
        methods: {
            ...Vuex.mapActions(['addRole']),
            submitRoleName(bvModalEvt) {
                bvModalEvt.preventDefault(); // don't close modal
                this.addRole({ role_name: this.new_role_name }).catch(error => {  this.error_message = error  })
            }
        }
    });

</script>