<script type="text/x-template" id="add_people_to_role_modal_template">

    <b-modal id="add_people_to_role_modal" :title="title_string" @ok="submitPeopleToRole($event)">

        <b>Current Members:</b><b-badge v-for="member in current_people_with_role" v-bind:key="member.id" 
            pill variant="info" class="mx-1">[[ member.text ]]</b-badge>

        <template><div class="my-3">
            <b-form-select v-model="people_selected" :options="new_member_options" multiple :select-size="6">
            </b-form-select>
        </div></template>

        <div class="mb-3" v-if="error_message">
            [[ error_message ]]
        </div>

        <template v-slot:modal-footer="{ ok }">
            <b-button size="sm" variant="success" @click="ok()">Save</b-button>
        </template>

    </b-modal>

</script>


<script type="application/javascript"> 


    addPeopleToRoleComponent = Vue.component('add-people-to-role-modal', {
        delimiters: ['[[', ']]'],
        template: '#add_people_to_role_modal_template',
        data: function() {
            return {
                error_message: '',
                people_selected: [],
            }
        },
        computed: {
            title_string: function() {
                return "Add people to role '" + this.$parent.role_to_add_people_to + "'"
            },
            current_people_with_role: function() {
                return this.$parent.reformat_to_options(this.currentMembers())
            },
            new_member_options: function() {
                if (this.$parent.role_to_add_people_to) {
                    role_members = this.currentMembers()
                    all_members = this.$parent.members_as_options
                    options = []
                    for (member_index in all_members) {
                        role_member_index = role_members.indexOf(all_members[member_index].value)
                        if (role_member_index == -1) {
                            // if group member not in list of current members, add to options
                            options.push(all_members[member_index])
                        }
                    }
                    return options
                }
            }
        },
        methods: {
            currentMembers() {
                for (index in this.$parent.roles) {
                   if (this.$parent.roles[index].role_name == this.$parent.role_to_add_people_to) {
                        return this.$parent.roles[index].current_members
                    }
                }
            },
            submitPeopleToRole(bvModalEvt) {
                bvModalEvt.preventDefault();
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
                url = "http://127.0.0.1:8000/groups/add_people_to_role/{{ object.pk}}/";
                params = { role_name: this.$parent.role_to_add_people_to, 
                    people_pks: this.people_selected }
                headers =  { "headers": { 'Content-Type': "application/json" } }
                axios.post(url, params, headers)
                .then(response => { 
                    if (response.data.action_status == "success") {
                        // Send data to parent so vue is updated
                        this.$emit('update-role-members', {
                            role_name : this.$parent.role_to_add_people_to, 
                            people_selected : this.people_selected
                        })
                        // Clear state
                        this.$parent.role_to_add_people_to = '';
                        this.people_selected = [];
                        this.$bvModal.hide("add_people_to_role_modal");
                    } else {
                        this.add_people_error_message = response.data.action_log;
                    }
                })
                .catch(error => {
                    if (error.response.status == 500) {
                        this.add_people_error_message = "We're sorry, there was a problem with our server."
                    } else {
                        this.add_people_error_message = error;
                    }
                    console.log("ERROR: ", error.status);
                })
            }
          
        }
    });

</script>