<script type="text/x-template" id="approve_condition_template">
    <span>

        <!-- If action is waiting -->
        <span v-if="condition_status == 'waiting' && !user_has_taken_action" class="my-5">

            <!-- If user can approve -->
            <span v-if="can_approve">
                <!-- BUG: we're letting people reject here as well without handling it functionally -->
                <p class="mb-3"><b>Please approve or reject this action.</b></p>
                <b-form-radio-group id="btn-radios-1" v-model="button_selected" :options="button_options"
                    buttons name="radios-btn-default" button-variant="outline-primary">
                </b-form-radio-group>
                <b-button @click="update_conditional">Save</b-button>
            </span>

            <span v-else>
                <p class="mb-3"><b>You do not have permission to approve or reject this action.</b></p>
            </span>

        </span>

        <!-- If user has just approved or rejected condition.-->
        <span v-if="user_has_taken_action">
            <span v-if="condition_status == 'approved' || condition_status == 'rejected'" class="my-5">
                You have [[ condition_status ]] [[ action_details.actor ]]'s action.  
                Nothing further is needed from you.
            </span>
        </span>

        <!-- If condition was already closed before the user opened this modal, so they haven't taken action. -->
        <span v-if="!user_has_taken_action">
            <span v-if="condition_status == 'approved' || condition_status == 'rejected'" class="my-5"> 
                [[ action_details.actor ]]'s action has already been [[ condition_status ]].
            </span>
        </span>

        <span v-if="error_message" class="text-danger">[[ error_message ]]</span> 

</span>
</script>


<script type="application/javascript"> 

approvalConditionComponent = Vue.component('approve-condition-ui', {
    delimiters: ['[[', ']]'],
    template: '#approve_condition_template',
    props: ['condition_type', 'condition_pk', 'action_details'],
    store,
    data: function() {
        return {
            user_has_taken_action: false,
            button_options: ["approve", "reject"],
            button_selected: null,
            error_message: null,
            permission_details: null,
            condition_details: null
        }
    },
    created () {
        this.get_conditional_data()
    },
    computed: {
        can_approve: function() {
            if (this.permission_details["concord.conditionals.state_changes.ApproveStateChange"][0] == true) {
                
                self_approval_allowed = null
                this.condition_details.fields.forEach((field) => { 
                    if (field.field_name == "self_approval_allowed") { 
                        self_approval_allowed = field.field_value } 
                })
                if (self_approval_allowed == true) { return true }

                if ("{{ request.user.username }}" != this.action_details.actor ) { return true }
            }
            return false
        },
        condition_status: function() {
            if (this.condition_details) {
                return this.condition_details.status
            } else {
                return null
            }
        }
    },
    methods: {
        ...Vuex.mapActions(['addOrUpdateAction']),
        get_conditional_data() {
            axios = this.prep_axios()
            url = "{{ base_url }}/groups/get_conditional_data/"
            params = { condition_pk: this.condition_pk, condition_type: this.condition_type }
            axios.post(url, params).then(response => { 
                this.permission_details = response.data.permission_details
                this.condition_details = response.data.condition_details
            }).catch(error => {  console.log("ERROR in approval dontion get_conditional_data")  })
        },
        update_conditional() {
            
            // For now, we don't store individual conditional data in vuex in part to make this more 
            // extensible, although presumably there *is* a way to make vuex handle this extensibly, 
            // but that's a bit above my paygrade for now.

            axios = this.prep_axios()
            url = "{{ base_url }}/groups/update_approval_condition/"
            params = { condition_pk: this.condition_pk, action_to_take: this.button_selected }
            axios.post(url, params).then(response => {  

                // update condition data
                this.get_conditional_data()
                this.user_has_taken_action = true

                // update action this was a condition on
                this.addOrUpdateAction({ action_pk: this.action_details["action_pk"] })
                   
                // also call vuex to record this as an action (need to do this for all actions)
                this.addOrUpdateAction({ action_pk: response.data.action_pk })

            })

        }
    }
})

</script>
