<script type="text/x-template" id="change_membership_modal_template">

    <b-modal id="change_membership_modal" :title="title_string" hide-footer>

            <b>Current Members:</b><b-badge v-for="member in people_in_role" v-bind:key="member.pk" 
                pill variant="info" class="mx-1">[[ member.name ]] ( [[member.pk]] )</b-badge>

            <vue-multiselect v-model="people_selected" :options="people_to_choose_from" :multiple="true" 
            :close-on-select="true" :clear-on-select="false" placeholder="No one selected" 
            label="name" track-by="pk" class="mt-3">
                <template slot="selection" slot-scope="{ values, search, isOpen }">
                    <span v-if="!isOpen">
                        Selected: [[ values ]]
                    </span>
                </template>
            </vue-multiselect>
            
            <b-button class="btn-sm mt-3" @click="updateMembers()">Save your changes</b-button>

        <div class="mb-3" v-if="add_error_message || remove_error_message">
            [[ add_error_message ]]
            [[ remove_error_message ]]
        </div>

    </b-modal>

</script>


<script type="application/javascript"> 


    changeMembershipComponent = Vue.component('change-membership-modal', {
        delimiters: ['[[', ']]'],
        template: '#change_membership_modal_template',
        props: ['role_selected'],
        store,
        data: function() {
            return {
                add_error_message: '',
                remove_error_message: '',
                people_selected: []
            }
        },
        computed: {
            ...Vuex.mapGetters(['membersAsOptions']),
            people_to_choose_from: function() {
                if (this.role_selected == "members") {
                    return store.state.users
                } else {
                    return this.membersAsOptions("members")
                }
            },
            people_in_role: function() {
                if (this.role_selected) {
                    return this.membersAsOptions(this.role_selected)
                } else {
                    return []
                }
            },
            title_string: function() {
                if ( this.role_selected == "members") { return "Add or remove members from group" } 
                else {  return "Change members with role '" + this.role_selected + "'" }
            }
        },
        watch: {
            role_selected: function() { 
                this.people_selected = this.people_in_role  // populate with current data initially
            }
        },
        methods: {
            ...Vuex.mapActions(['addMembers', 'removeMembers', 'addUsersToRole', 'removeUsersFromRole']),
            updateMembers() {

                result = this.generate_add_and_remove(old_array=this.people_in_role.map(person => person.pk),
                    new_array=this.people_selected.map(person => person.pk))

                if (result.to_add.length > 0) {
                    if (this.role_selected == "members") {
                        this.addMembers({ user_pks: result.to_add })
                            .catch(error => {  
                                this.add_error_message = error 
                                this.people_selected = this.people_in_role })
                    } else {
                        this.addUsersToRole({ role_name: this.role_selected, user_pks: result.to_add })
                            .catch(error => {  
                                this.add_error_message = error 
                                this.people_selected = this.people_in_role })
                    }
                }

                if (result.to_remove.length > 0) {
                    if (this.role_selected == "members") {
                        this.removeMembers({ user_pks: result.to_remove })
                            .catch(error => {  
                                this.remove_error_message = error 
                                this.people_selected = this.people_in_role })
                    } else {
                        this.removeUsersFromRole({ role_name: this.role_selected, user_pks: result.to_remove })
                            .catch(error => {  
                                this.remove_error_message = error
                                this.people_selected = this.people_in_role  })
                    }
                }

            }
        }
    });

</script>