<div id="forums_template">

    <span v-if="!display_forum" id="forum_list_view">

        <h4 class="text-secondary pb-3">{{ object.name }}'s Forums   
            <span class="pl-3"><b-button variant="outline-secondary" class="btn-sm"
                v-b-modal.forum_modal>+ add new</b-button></span>
        </h4>
    
        <div>[[ delete_error_message ]]</div>

        <b-card v-for="{ pk, name, description } in forums" :title=name v-bind:key=pk 
                                class="bg-light text-info border-secondary mb-3">

            <p class="mb-1 text-secondary">  [[ description ]]  </p>

            <template v-slot:footer>
                    <b-button variant="outline-secondary" class="btn-sm" @click="display_forum = pk">
                            view</b-button>
                    <b-button variant="outline-secondary" class="btn-sm" v-b-modal.forum_modal 
                        @click="edit_forum_modal(pk, name, description)">
                        edit</b-button>
                    <b-button variant="outline-secondary" class="btn-sm" @click="delete_forum(pk)">
                        delete</b-button>
                    <permissioned_item :item_id=pk :item_model="'forum'" :item_name=name 
                        :display_style="'inline-button'"></permissioned_item>
                    <action-history :item_id=pk :item_model="'forum'" :item_name=name 
                        :display_style="'inline-button'"></action-history>  
            </template>

        </b-card>


        <b-modal id="forum_modal" :title="title_string" size="md" hide-footer @hide="clearState()">
            
            <b-form-group id="name" label="Forum name:" label-for="forum_name">
                <b-form-input id="forum_name" v-model="name" required placeholder="Please pick a name">
                </b-form-input>
            </b-form-group>

            <b-form-group id="description" label="Forum description:" label-for="forum_description">
                <b-form-textarea id="forum_description" v-model="description" placeholder="Add a description">
                </b-form-textarea>
            </b-form-group>

            <b-button v-if=!pk variant="outline-secondary" class="btn-sm"  @click="add_forum">submit</b-button>
            <b-button v-if=pk variant="outline-secondary" class="btn-sm"  @click="edit_forum">submit</b-button>

            <div>[[ error_message ]]</div>

        </b-modal>
        
    </span>

    <span v-else> <!-- If we have a forum to display -->

        <forum-component :forum_id=display_forum @back_to_forums="display_forum = null"></forum-component>

    </span>
       

</div>

{% include 'groups/forum_detail_include.html' %}


<script type="application/javascript"> 

    // Main vue instance for forums app
    var forumsApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#forums_template',
        store,
        data: {
            name: null,
            description: null,
            pk: null,
            error_message: null,
            delete_error_message: null,
            display_forum: null
        },
        computed: {
            ...Vuex.mapState(['forums']),
            title_string: function() {
                if (this.name) {
                    return "Edit forum '" + this.name + "'"
                } else {
                    return "Add a new forum"
                }
            },
        },
        methods: {
            ...Vuex.mapActions(['addForum', 'editForum', 'deleteForum']),
            clearState() {
                this.name = null
                this.description = null
                this.pk = null
            },
            edit_forum_modal(pk, name, description) {
                this.pk = pk
                this.name = name
                this.description = description
            },
            add_forum() { 
                this.addForum({ name: this.name, description: this.description })
                .catch(error => {  this.error_message = error })
                // close modal on success (in then)
            }, 
            edit_forum() {
                this.editForum({ pk: this.pk, name: this.name, description: this.description })
                .catch(error => {  this.error_message = error })
            },
            delete_forum(forum_pk) {
                this.deleteForum({ pk: forum_pk })
                .catch(error => {  this.delete_error_message = error })

            }
        }
    })

</script>