{% extends 'accounts/base.html' %}

{% block content %}

<div class="col-5">

    <!-- Basic group info -->
    <div class="card">
        <h5 class="card-header">{{ object.name }}</h5>
        <div class="card-body">
            <p class="card-text">{{ object.group_description }}</p>
        </div>
    </div>

    <!-- Action history -->
    {% include 'groups/action_include.html' with target=object %}
    <action-history></action-history>

    <div class="mt-3">
        {% include 'groups/governance_include.html' %}
    </div>

</div>

<div class="col-7">
    {% include 'groups/forums_include.html' %}
</div>


{% endblock %}