{% extends 'accounts/alt_base.html' %}

{% block content %}

    <div id="kybernApp">
    </div>

    <script type="text/javascript">
        window.__INITIAL_STATE__ = '{{ initial_state|escapejs|safe }}'
    </script>

    {% if LOAD_JS_WITH_WEBPACK %}

        <!-- Load with webpack -->
        {% load render_bundle from webpack_loader %}
        {% render_bundle 'chunk-vendors' %}
        {% render_bundle 'group_detail_vue' %}

    {% else %}

        <!-- Load with staticfiles -->
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/group_detail_vue.css' %}" />
        <script type="text/javascript" src="{% static 'js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/group_detail_vue.js' %}"></script>

    {% endif %}

{% endblock content %}