<!-- Action history for group as a whole -->

<div id="group_action_history">
    <action-history :item_id={{ object.pk }} :item_model="'group'" :item_name="'{{ object.get_name|escapejs }}'">
    </action-history>  
</div>

<script type="application/javascript">

    // This is an unfortunate hack, but we need a Vue app to include the action history component within

    // Main vue instance for role app
    var roleApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#group_action_history'
    });

</script>