<script type="text/x-template" id="condition_template">

    <div class="border m-2 p-2 text-center"> 

        <!-- Before anyone has indicated they want add or edit a condition -->
        <span v-if="mode == 'start'">

            <!-- Condition details/management are usually hidden by default on permissions, shown by default on community -->
            <span v-if="target_type == 'community'">   

                    <span v-if="condition_to_edit">
                        [[ condition_display_helper ]]
                        <b-button variant="outline-secondary" size="sm" class="ml-2" @click="mode = 'update'">
                            Edit</b-button>
                        <b-button variant="outline-secondary" size="sm" class="ml-2" @click="remove_condition()">
                            Remove</b-button>
                    </span>
                    <span v-else>
                        There is no condition currently set. 
                        <b-button variant="outline-secondary" size="sm" class="ml-2" @click="mode = 'create'">
                            Add one?</b-button>
                    </span>

            </span>

        </span>

        <!-- If we're creating a new condition -->
        <span v-if="mode == 'create' && !condition_selected ">
            <b>Select condition to add</b> 
                <template><div>
                    <b-form-select v-model="condition_selected" :options="condition_options" :select-size="4"
                        name="condition_select">
                    </b-form-select>
                </div></template> 
            </span>
        </span>

        <!-- If we're updating an existing condition (or configuring a new condition that has been selected) -->
        <span v-if="mode == 'update' || condition_selected">

                <p class="mt-3"><b>Configure your condition</b></p>
                {% include 'groups/configuration_fields_include.html' %}

            <!-- Save configuration -->
            <b-button v-if="condition_selected && mode == 'create'" size="sm" 
            class="mt-3" @click="add_condition()" id="save_condition_button">Save condition</b-button>
            <b-button v-if="condition_to_edit && mode == 'update'" size="sm" 
                class="mt-3" @click="update_condition()" id="save_condition_button">Save changes</b-button>

        </span>

        <div class="mb-3 text-danger" v-if="error_message">
            [[ error_message ]]
        </div>

    </div>

</script>

<script type="application/javascript">

    conditionComponent = Vue.component('manage-condition', {
        delimiters: ['[[', ']]'],
        template: '#condition_template',
        store, 
        props: ['mode_from_parent', 'called_for', 'permission_to_condition', 'condition_to_edit'],
        data: function() {
            return {
                condition_selected: '',
                mode: 'start',
                configuration_fields: [],
                error_message : ''
            }
        },
        watch: {
            // The parent of the condition include can change the mode - overrides current mode (on change, not permanently)
            mode_from_parent: function (val) { this.mode = val; },                           
            condition_to_edit: function (val) { this.update_configuration_fields() },
            condition_selected: function (val) {  this.update_configuration_fields() }
        },
        computed: {
            ...Vuex.mapState(['conditions', 'condition_options']),
            ...Vuex.mapGetters(['getConditionConfigurationFields', 'getConditionConfigurationFieldsWithData', 
                'select_field_is_multiple', 'rolesAsOptions', 'groupMembersAsOptions']),
            condition_display_helper: function() {
                if (this.condition_to_edit && this.conditions[this.condition_to_edit]) {
                    return this.conditions[this.condition_to_edit].display
                }
            },
            target_type: function() {
                if (this.called_for == "governor" || this.called_for == "owner") {
                    return "community"
                } else {
                    return "permission"
                }
            }
        },
        created (){ this.update_configuration_fields() },
        methods: {
            ...Vuex.mapActions(['addCondition', 'updateCondition', 'removeCondition']),
            update_configuration_fields(){
                // Note that only one of condition_selected or condition_to_edit should be defined
                if (this.condition_selected) {
                    this.configuration_fields = Object.values(this.getConditionConfigurationFields(this.condition_selected))
                }
                if (this.condition_to_edit) {
                    this.configuration_fields = Object.values(this.getConditionConfigurationFieldsWithData(this.condition_to_edit))
                }
            },
            add_condition(){
                this.addCondition({ condition_selected : this.condition_selected, configuration : this.configuration_fields,
                        permission : this.permission_to_condition, target_type: this.target_type, called_for: this.called_for })
                    .then(response => { this.condition_selected = ''; this.mode = 'start';
                            this.$emit("clearState"); })
                    .catch(error => {  this.error_message = error })
            },
            update_condition(){
                this.updateCondition({ condition_to_edit: this.condition_to_edit, configuration : this.configuration_fields,
                    permission : this.permission_to_condition,  target_type: this.target_type  })
                .then(response => { this.mode = 'start'; this.$emit("clearState"); })
                .catch(error => {  this.error_message = error })
            },
            remove_condition() {
                // Only called when used by leadership include, edit_role handles deletion for permission conditions
                this.removeCondition({ condition_id : this.condition_to_edit, called_for: this.called_for, 
                    target_type: this.target_type })
                .then(response => { this.mode = 'start'; this.$emit("clearState"); })
                .catch(error => { 
                    this.error_message = error.message
                })
            }
        }
    });

</script>