<script type="text/x-template" id="membership_template">

    <span>

        <b-card header="Members" class="my-3">

            <p>[[ member_setting_display ]]</p>

            <b-button class="btn-sm mb-3" v-b-modal.configure_membership_modal>
                Change how members join the group</b-button>

            <!-- <b-button class="btn-sm mb-3" v-b-modal.membership_modal>See current members</b-button> -->

            <!-- If you're part of the group, a leave group button.
                 If you're not part of the group:
                   - if anyone can join, button to join group
                   - if anyone can ask to join, button to ask
                   - otherwise: "We're sorry, this group is invite only" -->

            <!-- If you're part of the group, and the configuration is invite only, see a button to invite members. -->

            <!-- If you're part of the group, and the configuration is anyone can ask, see a button to view current requests. -->

            <!-- If you have permission to remove members, the interface is linked here. -->

        </b-card>

        <b-modal id="configure_membership_modal" title="Change how members join this group" class="modal fade" 
            size="lg" hide-footer>

            <b-form-group label="How can members join the group?">
                <b-form-radio-group id="configure_membership_radio_buttons" v-model="membership_option_selected"
                    :options="membership_options" buttons button-variant="outline-info" 
                    name="configure_membership_radio_buttons"></b-form-radio-group>
            </b-form-group>

            <span v-if="membership_option_selected == 'anyone can ask'">
                <span>When someone asks to join, how should their request be handled?</span>

                <span v-if="!condition_selected ">
                    <b>Select condition to add</b> 
                        <template><div>
                            <b-form-select v-model="condition_selected" :options="condition_options" :select-size="4"
                                name="condition_select">
                            </b-form-select>
                        </div></template> 
                </span>
                <span v-else>

                    <div class="mt-3">  
                        You have chosen [[ condition_selected]]:<br/><br />

                        {% include 'groups/configuration_fields_include.html' %}
                    </div>
                    
                </span>

            </span>

            <span v-if="membership_option_selected == 'invite only'">
                <span>Who is allowed to invite new members?</span>

                <div class="input-group mb-2 permissionrolefield">
                    Roles:
                    <vue-multiselect v-model=permission_roles_selected :multiple=true :options=rolesAsOptions :allow-empty="true"
                        :close-on-select="true" placeholder="Select roles" 
                        label="name" track-by="name">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span v-if="!isOpen">
                                Selected: [[ values ]]
                            </span>
                        </template>
                    </vue-multiselect>
                </div>

                <div class="input-group mb-2 permissionactorfield">
                    Individuals:
                    <vue-multiselect v-model=permission_actors_selected :multiple=true :options=groupMembersAsOptions :allow-empty="true"
                        :close-on-select="true" placeholder="Select actors" 
                        label="name" track-by="pk">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span v-if="!isOpen">
                                Selected: [[ values ]]
                            </span>
                        </template>
                    </vue-multiselect>
                </div>
                
            </span>
            
            <br /><br />
            <b-button class="btn-sm mt-4" @click="update_configuration()">Save</b-button>

            <p>[[ error_message ]]</p>

        </b-modal>

    </span>
    
</script>

<script type="application/javascript">


    Vue.component('vue-multiselect', window.VueMultiselect.default)

    membershipComponent = Vue.component('membership-component', {
        delimiters: ['[[', ']]'],
        template: '#membership_template',
        store,
        data: function() {
            return {   
                membership_option_selected: null,
                membership_options: ["anyone can join", "anyone can ask", "invite only", "no new members can join"],
                error_message: '',

                // extra data for anyone can ask mode
                condition_selected: "",    // same as condition_type
                configuration_fields: [],

                // extra data for invite only mode:
                permission_roles_selected: [],
                permission_actors_selected: []
            }
        },
        watch: {
            condition_selected: function (val) {  this.update_configuration_fields() }
        },
        computed: {
            ...Vuex.mapState(["current_membership_option", "membership_config_data", "condition_options"]),
            ...Vuex.mapGetters(['groupMembersAsOptions', 'rolesAsOptions', 'getConditionConfigurationFields', 
                'select_field_is_multiple', 'role_to_options', 'user_pk_to_options']),
            current_permission_actors: function() {
                if (this.membership_config_data["permission"]["actors"]) {
                    return this.user_pk_to_options(this.membership_config_data["permission"]["actors"])
                } else {
                    return []
                }
            },
            current_permission_roles: function() {
                if (this.membership_config_data["permission"]["roles"]) {
                    return this.role_to_options(this.membership_config_data["permission"]["roles"])
                } else {
                    return []
                }
            },
            current_ask_condition_selected: function() {
                if (this.membership_config_data["condition"]["condition_data"]["name"]) {
                    return [this.membership_config_data["condition"]["condition_data"]["name"]]
                } else {
                    return []
                }
            },
            member_setting_display: function() {
                if (this.current_membership_option == "anyone can ask") {
                    condition_display = this.membership_config_data["condition"]["condition_data"]["display"]
                    return "With the current settings, anyone can ask to join the group " + condition_display
                } else if (this.current_membership_option == "anyone can join") {
                    return "With the current settings, anyone can join the group."
                } else if (this.current_membership_option == "invite only") {
                    return "With the current settings, new members must be invited."
                    // TODO: add data about how can invite
                } else if (this.current_membership_option == "no new members can join") {
                    return "With the current settings, no new members can join the group."
                }
            }
        },
        created (){ 
            this.getMembershipConfigurationData().then( response => {
                this.sync_db_with_component()
            })
        },
        methods: {
            ...Vuex.mapActions(['getMembershipConfigurationData', 'setMembershipConfiguration']),
            sync_db_with_component() {
                this.membership_option_selected = this.current_membership_option
                this.permission_roles_selected = this.current_permission_roles
                this.permission_actors_selected = this.current_permission_actors
                this.condition_selected = this.current_ask_condition_selected[0]
                this.update_configuration_fields()
            },
            update_configuration_fields(){
                if (this.condition_selected) {
                    this.configuration_fields = Object.values(this.getConditionConfigurationFields(this.condition_selected))
                }
                if (this.membership_config_data["condition"] && 
                        this.membership_config_data["condition"]["condition_setting"] == "anyone can ask") {
                    this.configuration_fields.map( field => { 
                        let name = (field["name"]) ? field["name"] : field["field_name"]
                        this.membership_config_data["condition"]["condition_configuration"].forEach((data) => {
                            let second_name = (data["name"]) ? data["name"] : data["field_name"]
                            if (second_name == name) { 
                                if (field["type"] == "PermissionRoleField") {
                                    field["value"] = this.role_to_options(data["value"])
                                } else if (field["type"] == "PermissionActorField") {
                                    field["value"] = this.user_pk_to_options(data["value"]) 
                                } else {
                                    field["value"] = data["value"]
                                }                                
                            }
                        })
                    })
                }
            },
            format_permission_data() {
                data = {}
                for (index in this.configuration_fields) {
                    field = this.configuration_fields[index]
                    if (field["type"] == "PermissionRoleField") {
                        roles = []
                        if (field["value"]) { field["value"].forEach((field) => { roles.push(field["name"]) }) }
                        data[field["field_name"]] = roles
                    }
                    if (field["type"] == "PermissionActorField") {
                        actors = []
                        if (field["value"]) { field["value"].forEach((field) => { roles.push(field["pk"]) }) }
                        data[field["field_name"]] = actors
                    }
                }
                return data
            },
            format_condition_data() {
                data = {}
                for (index in this.configuration_fields) {
                    field = this.configuration_fields[index]
                    if (field["type"] != "PermissionRoleField" && field["type"] != "PermissionActorField" ) {
                        data[field["name"]] = field["value"]
                    }
                }
                return data
            },
            format_permission_roles() {
                roles = []
                this.permission_roles_selected.forEach((role_option) => { roles.push(role_option["name"]) })
                return roles 
            },
            format_permission_actors() {
                actors = []
                this.permission_actors_selected.forEach((actor_option) => { actors.push(actor_option["pk"]) })
                return actors
            },
            generate_extra_data() {
                if (this.membership_option_selected == "anyone can join") { return null }
                if (this.membership_option_selected == "no new members can join") { return null }
                if (this.membership_option_selected == "invite only") {
                    return { permission_roles : this.format_permission_roles(), 
                             permission_actors : this.format_permission_actors() }
                }
                if (this.membership_option_selected == "anyone can ask") {
                    return { condition_type: this.condition_selected,
                        permission_data: this.format_permission_data(),
                        condition_data: this.format_condition_data()
                    }
                }
            },
            update_configuration() {
                this.setMembershipConfiguration({
                    membership_option_selected : this.membership_option_selected,
                    extra_data : this.generate_extra_data()
                })
                .then(response => {this.sync_db_with_component() })
                .catch(error => { this.error_message = error.message })
            }
        }
    });

</script>
