<div id="roles">

    <b-card-group deck>

        <b-card header="Group Roles">

            <p class="card-text mt-2">
                Every group has a variety of roles which different people can be assigned to. Each 
                role has different rights and responsibilities within the community.
            </p>

            <b-button class="p-2 mb-3" v-b-modal.add_role_modal>Add a role</b-button>

            <b-list-group>

                    <b-list-group-item v-for="role in roles" class="d-flex justify-content-between align-items-center"> 
                            [[ role ]]
                            <div><b-badge variant="primary" pill>edit role</b-badge>
                            <b-badge variant="secondary" pill>add people</b-badge></div>
                    </b-list-group-item>
                    
            </b-list-group>

        </b-card>

    </b-card-group>

    <b-modal id="add_role_modal" title="Add a new role" @ok="submitRoleName($event)">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="role_name_prompt">Role Name</span>
            </div>
            <input type="text" class="form-control" aria-label="role_name" 
                aria-describedby="role_name_prompt" v-model="role_name">
        </div>

        <div class="mb-3" v-if="error_message">
            [[ error_message ]]
        </div>

        <template v-slot:modal-footer="{ ok, cancel}">
            <b-button size="sm" variant="success" @click="ok()">Save</b-button>
            <b-button size="sm" variant="outline-secondary" @click="cancel()">Cancel</b-button>
        </template>

    </b-modal>
    
</div>

<script type="application/javascript">

    var roleApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#roles',
        data: {
            error_message: null,
            role_name: '',
            roles: {{ roles|safe }}
        },
        methods: {
            submitRoleName(bvModalEvt) {
                bvModalEvt.preventDefault();
                axios.defaults.xsrfCookieName = 'csrftoken';
                axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
                url = "http://127.0.0.1:8000/groups/add_role/{{ object.pk}}/" + this.role_name + "/";
                axios.post(url, { "role_name": this.role_name })
                .then(response => { 
                    if (response.data.action_status == "success") {
                        this.roles.push(this.role_name);
                        this.role_name = '';
                        this.$bvModal.hide("add_role_modal");
                    } else {
                        this.error_message = response.data.action_log;
                    }
                })
                .catch(error => {
                    // Catches other errors
                    if (error.response.status == 500) {
                        this.error_message = "We're sorry, there was a problem with our server."
                    } else {
                        this.error_message = error;
                    }
                    console.log("ERROR: ", error.status);
                })
            }
        }
    });

</script>