<script type="text/x-template" id="governance_component_template">

    <span>

        <b-card-group deck class="mb-4">

            <b-card class="bg-light border-secondary" no-body>
                <b-card-header>
                    <router-link v-if=governance_forum class="text-info"
                            :to="{ name: 'governance-forum-detail', params: { forum_id: governance_forum.pk } }">
                        [[ governance_forum.name ]] </router-link>
                </b-card-header>
                <b-card-text id="forum-description" class="text-muted p-3">
                    [[ governance_forum.description ]] of {{ object.get_name }}
                </b-card-text>
            </b-card>

            <b-card class="bg-light border-secondary" no-body>
                <b-card-header>
                    <router-link v-if="user_permissions.apply_template" class="text-info"
                            :to="{ name: 'templates', params: {scope: 'community'}}">
                        Community Templates </router-link>
                </b-card-header>
                <b-card-text id="community_templates_link" class="text-muted p-3">
                    Browse pre-existing governance setups and apply them to your community.
                </b-card-text>
            </b-card>

        </b-card-group>

        <leadership-component></leadership-component>

        <group-membership-component></group-membership-component>

        <manage-roles-component></manage-roles-component>

    </span>

</script>

<script type="application/javascript">

    // Main vue instance for role app
    var governanceComponent = Vue.component('governance-component', {
        delimiters: ['[[', ']]'],
        template: '#governance_component_template',
        store,
        data: function() {
            return {
                error_message: null,
            }
        },
        created () {
            this.checkPermissions({permissions: {"apply_template": null}})
            .catch(error => {  this.error_message = error; console.log(error) })
        },
        computed: {
            ...Vuex.mapState({
                user_permissions: state => state.permissions.current_user_permissions,
                forums: state => state.forums.forums
            }),
            governance_forum: function() {
                gov_forum = null
                this.forums.forEach((forum) => { if (forum.special == "Gov") { gov_forum = forum } })
                return gov_forum
            }
        },
        methods: {
            ...Vuex.mapActions(['checkPermissions']),
        }
    });

</script>