<script type="text/x-template" id="group_membership_template">

    <span>

        <b-card no-body class="my-3">

            <b-card-header>

                <span class="float-left">Members</span>

                <span class="float-right">

                    <router-link :to="{ name: 'membership-settings' }">
                        <b-button class="btn-sm btn-seconday" id="group_membership_settings_button">
                            membership settings</b-button>
                    </router-link>

                    <b-button class="btn-sm btn-secondary" v-b-modal.group_membership_display id="group_membership_display_button">
                        change members</b-button>

                </span>

            </b-card-header>

            <b-card-text class="p-3">

                <div id="current_member_list">
                    <b-badge v-for="member in groupMembersAsOptions" v-bind:key="member.pk" pill variant="info" class="mx-2 my-2">
                    [[ member.name ]]</b-badge>
                </div>

            </b-card-text>

        </b-card>

        <b-modal id="group_membership_display" title="Group Membership" class="modal fade" size="lg" hide-footer>

            <error-component :message=error_message></error-component>

            <b>Current Members:</b>
                <span id="current_member_list"> <b-badge v-for="member in groupMembersAsOptions" v-bind:key="member.pk"
                pill variant="info" class="mx-1">[[ member.name ]]</b-badge></span>

            <hr >

            <span v-if="user_permissions.add_members">

                <span v-if="add_member_button_selected">
                    <vue-multiselect v-model="members_to_add_selected" :options="nonmembersAsOptions" :multiple="true"
                        :close-on-select="true" :clear-on-select="false" placeholder="No one selected"
                        label="name" track-by="name">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span v-if="!isOpen"> Selected: [[ values ]] </span>
                        </template>
                    </vue-multiselect>
                    <b-button class="btn-sm mb-3" id="save_add_member_button" @click="add_members()">Save</b-button>
                    <b-button class="btn-sm mb-3" @click="add_member_button_selected = false">Discard</b-button>
                </span>
                <span v-else>
                    <span v-if="!remove_member_button_selected">
                        <b-button class="btn-sm mb-3" id="add_member_button"
                            @click="add_member_button_selected = true">Add Members</b-button>
                    </span>
                </span>

            </span>

            <span v-if="user_permissions.remove_members">

                <span v-if="remove_member_button_selected">
                    <vue-multiselect v-model="members_to_remove_selected" :options="groupMembersAsOptions" :multiple="true"
                        :close-on-select="true" :clear-on-select="false" placeholder="No one selected"
                        label="name" track-by="name">
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                            <span v-if="!isOpen"> Selected: [[ values ]] </span>
                        </template>
                    </vue-multiselect>
                    <b-button class="btn-sm mb-3" id="save_remove_member_button" @click="remove_members()">Save</b-button>
                    <b-button class="btn-sm mb-3" @click="remove_member_button_selected = false">Discard</b-button>
                </span>
                <span v-else>
                    <span v-if="!add_member_button_selected">
                        <b-button class="btn-sm mb-3" id="remove_member_button"
                            @click="remove_member_button_selected = true">Remove Members</b-button>
                    </span>
                </span>

            </span>

        </b-modal>

    </span>

</script>

<script type="application/javascript">

    groupMembershipComponent = Vue.component('group-membership-component', {
        delimiters: ['[[', ']]'],
        template: '#group_membership_template',
        store,
        data: function() {
            return {
                item_id: {{ object.pk }},  // Group id,
                item_model: 'group',  // group model
                add_member_button_selected: false,
                remove_member_button_selected: false,
                members_to_add_selected: [],
                members_to_remove_selected: [],
                error_message: null
            }
        },
        created () {
            this.checkPermissions({permissions: {"add_members": null, "remove_members": null }})
                .catch(error => {  this.error_message = error; console.log(error) })
            this.getPermissionsForItem({ item_id: this.item_id, item_model: this.item_model })
                .catch(error => {  this.error_message = error; console.log(error) })
        },
        computed: {
            ...Vuex.mapState({
                permissions: state => state.permissions.permissions,
                user_permissions: state => state.permissions.current_user_permissions
            }),
            ...Vuex.mapGetters(['groupMembersAsOptions', 'nonmembersAsOptions'])
        },
        methods: {
            ...Vuex.mapActions(['getPermissionsForItem', 'checkPermissions', 'addMembers', 'removeMembers']),
            add_members() {
                members_to_add = this.members_to_add_selected.map(actor => actor.pk)
                this.addMembers({ user_pks: members_to_add }).catch(error => this.error_message = error)
            },
            remove_members() {
                members_to_remove = this.members_to_remove_selected.map(actor => actor.pk)
                this.removeMembers({ user_pks: members_to_remove }).catch(error => this.error_message = error)
            }
        }
    });

</script>
