<script type="application/javascript">

    // check permissions mixin

        // callers overwrite a relatively simple data object, maybe in computed that specifies calls
        // to make and params/alt_targets to supply to the call
        // then a method check_permissions() that checks the permission in the data object, although that
        // might have to be on permissions vuex include and called through the normal route (map into methods & call
        // from there)

    var conditionLookupMixin = {
        methods: {
        }
    }

</script>


