<script type="text/x-template" id="complex_configurable_field_template">

    <div class="my-3">

        <!-- Can't be dependent field t-->
        <span v-if="!can_be_dependency_field(field)">
            <configurable-field v-on:field-changed="change_field" :initial_field=field></configurable-field>
        </span>

        <!-- Can be dependent field but isn't -->
        <span v-if="can_be_dependency_field(field) && !is_dependency_field(field.value)">

            <b-container><b-row>
                <b-col cols="8">
                    <configurable-field v-on:field-changed="change_field" :initial_field=field></configurable-field>
                </b-col>
                <b-col>
                    <dependent-field-manager v-on:field-changed="change_field" :field=field></dependent-field-manager>
                </b-col>
            </b-row></b-container>

        </span>

        <!-- Is dependent field -->
        <span v-if="can_be_dependency_field(field) && is_dependency_field(field.value)">
            <dependent-field-manager v-on:field-changed="change_field" :field=field></dependent-field-manager>
        </span>

    </div>

</script>


<script type="application/javascript">

    complexConfigurableFieldComponent = Vue.component('complex-configurable-field', {
        delimiters: ['[[', ']]'],
        template: '#complex_configurable_field_template',
        store,
        props: ['field', 'conditioned_on'],
        methods: {
            can_be_dependency_field(field) {
                if (!this.conditioned_on || this.conditioned_on == "leadership") { return false }
                return field.can_depend
            },
            is_dependency_field(value){
                if (value && typeof(value) == "string") {
                    if (value.substring(value.length-2, value.length) == "}}" && value.substring(0,2) == "{{") {
                        return true
                    }
                }
                return false
            },
            change_field(emitted_data) { this.$emit('field-changed', emitted_data)}
        }
    })

</script>