<script type="text/x-template" id="edit_permission_component_template">

    <span>

        <error-component :message=error_message></error-component>

        <!-- Display existing permission -->
        <b-button-group :id=pair_element_id class="my-4">
            <b-button class="rounded-left w-50" variant="light">
                <span class="permission-display" :id="'display_' + pair_element_id">[[ permission.display ]]</span>
                <span v-if="can_edit_permission" v-on:click="edit_permission=true"
                    class="badge badge-light ml-1 edit-permission"  >🖉</span>
                <span v-if="user_permissions.remove_permission" v-on:click="delete_permission()"
                    class="badge badge-light ml-1 delete-permission"  >🗑</span>
            </b-button>

            <b-button class="rounded-right">
                <span v-if="permission.condition" :id="'condition_' + pair_element_id">
                    <span>on the condition that [[ permission.condition.how_to_pass ]]</span>
                    <span v-if=user_permissions.remove_condition_from_permission
                        v-on:click="edit_condition=true" class="badge badge-light ml-1 edit-condition"
                        :class="css_name(permission.name)">🖉</span>
                    <span v-if=user_permissions.remove_condition_from_permission
                        v-on:click="delete_condition()" class="badge badge-light ml-1 delete-condition"
                        :class="css_name(permission.name)">🗑</span>
                </span>
                <span v-else :id="'condition_' + pair_element_id">
                    <span v-if="user_permissions.add_condition_to_permission">
                        <b-button class="add-condition" v-on:click="edit_condition=true">
                            add condition</b-button></span>
                    <span v-else>no condition</span>
                </span>
            </b-button>
        </b-button-group>

        <span v-if="edit_permission">

            <div class="p-3">

                <!-- If a role was not passed in, that means we need to ask the user for what roles and
                actors should be given this permission. -->
                <span v-if="!role_to_edit">
                    <p class="mt-3 font-weight-bold">Give people this permission</p>
                    {% include 'groups/permissions/role_and_actor_fields_include.html' %}
                </span>

                <!-- If there are fields to configure -->
                <span v-if="configuration_fields.length > 0">
                    <p class="mt-3 font-weight-bold">Configure your permission</p>
                    {% include 'groups/permissions/configuration_fields_include.html' %}
                </span>

                <div class="block">
                    <b-button size="sm" class="mt-3" @click="update_permission()" id="update_permission_button">
                        Update permission</b-button>

                    <b-button size="sm" class="mt-3" @click="edit_permission=false" id="discard_permission_button">
                        Discard changes</b-button>
                </div>

            </div>



        </span>

        <permission-condition v-if="edit_condition" :permission=permission v-on:condition-finished="edit_condition=false">
        </permission-condition>

    </span>

</script>

<script type="application/javascript">

    editPermissionComponent = Vue.component('edit-permission', {
        delimiters: ['[[', ']]'],
        template: '#edit_permission_component_template',
        props: ['permission', 'role_to_edit', 'item_id', 'item_model'],
        store,
        data: function() {
            return {
                permission_exists: true,
                edit_permission: false,
                edit_condition: false,
                configuration_fields: [],
                permission_roles_selected: [],
                permission_actors_selected: [],
                error_message: ''
            }
        },
        created () {
            alt_target = "permissionsitem_" + this.permission.pk
            this.checkPermissions({permissions: {
                remove_permission: {alt_target:alt_target},
                add_condition_to_permission: {alt_target:alt_target},
                remove_condition_from_permission: {alt_target:alt_target},
                add_actor_to_permission: {alt_target:alt_target},
                remove_actor_from_permission: {alt_target:alt_target},
                add_role_to_permission: {alt_target:alt_target},
                remove_role_from_permission: {alt_target:alt_target},
                give_anyone_permission: {alt_target:alt_target},
                remove_anyone_from_permission: {alt_target:alt_target},
                change_configuration_of_permission: {alt_target:alt_target}}
            }).catch(error => {  this.error_message = error; console.log(error) })
        },
        watch: {
            permission: function(val) { this.refresh_permission_data(val) },
            edit_permission: function(edit_permission) {
                if (edit_permission == true) {
                    this.refresh_permission_data(this.permission)
                }
            }
        },
        computed: {
            ...Vuex.mapState({
                permissions: state => state.permissions.permissions,
                user_permissions: state => state.permissions.current_user_permissions
            }),
            ...Vuex.mapGetters(['rolesAsOptions', 'groupMembersAsOptions', 'getPermissionConfigurationFields',
                'getPermissionConfigurationFieldsWithData', 'select_field_is_multiple', 'role_to_options',
                'user_pk_to_options']),
            anyone_can_take_permission() { return this.permission.anyone },
            item_or_role() {
                if (this.role_to_edit) { return "role"}
                else if (this.item_id && this.item_model) { return "item" }
            },
            pair_element_id() {
                return "permission_element_" + permission.pk
            },
            can_edit_permission() {
                if (this.user_permissions.add_actor_to_permission || this.user_permissions.remove_actor_from_permission ||
                this.user_permissions.add_role_to_permission || this.user_permissions.remove_role_from_permission ||
                this.user_permissions.give_anyone_permission || this.user_permissions.remove_anyone_from_permission ||
                this.user_permissions.change_configuration_of_permission) {
                    return true
                } else {
                    return false
                }
            }
        },
        methods: {
            ...Vuex.mapActions(['checkPermissions', 'removePermission', 'updatePermission', 'removeCondition', 'toggleAnyone']),
            get_roles() {
                if (this.item_or_role == "role") { return [this.role_to_edit] }
                else if (this.item_or_role == "item") { return this.permission_roles_selected }
            },
            refresh_permission_data(permission) {
                if (permission) {
                    this.configuration_fields = Object.values(
                        this.getPermissionConfigurationFieldsWithData(permission.pk))
                    if (this.item_id && this.item_model) { // only do this for permission on item
                        this.permission_roles_selected = this.role_to_options(permission.roles)
                        this.permission_actors_selected = this.user_pk_to_options(permission.actors)
                    }
                }
            },
            clearState() {
                this.edit_permission = false,
                this.edit_condition = false,
                this.configuration_fields = []
                this.permission_roles_selected = []
                this.permission_actors_selected = []
            },
            css_name(name) { return name.replace(" ", "_") },
            // Vuex actions
            delete_permission() {
                this.removePermission({ permission_id : this.permission.pk, item_id: this.item_id,
                        item_model: this.item_model, item_or_role : this.item_or_role })
                .then(response => { this.clearState() })
                .catch(error => {  this.error_message = error.message  })
            },
            update_permission() {
                this.updatePermission({ permission_id: this.permission.pk,
                    configuration : this.configuration_fields, roles: this.get_roles(),
                    actors: this.permission_actors_selected
                }).then(response => { this.clearState() })
                .catch(error => {  this.error_message = error })
            },
            delete_condition() {
                this.removeCondition({ permission_or_leadership: "permission",
                                                permission_id: this.permission.pk })
                .catch(error => { this.error_message = error.message })
            },
            toggle_anyone(enable_or_disable) {
                this.toggleAnyone({ permission_id: this.permission.pk,
                                                enable_or_disable: enable_or_disable })
                .catch(error => {  this.error_message = error })
            }
        }
    });

</script>