<script type="text/x-template" id="leadership_condition_template">

    <div class="border m-2 p-2 text-center"> 

        <error-component :message=error_message></error-component>

        <!-- Before anyone has indicated they want add or edit a condition -->
        <span v-if="mode == 'start'">

            <span v-if="existing_condition">
                [[ condition_display_helper ]]

                <b-button v-if="user_permissions.remove_leadership_condition" @click="mode = 'update'"
                    variant="outline-secondary" size="sm" class="ml-2">Edit</b-button>
                <b-button v-if="user_permissions.remove_leadership_condition" @click="remove_condition()"
                    variant="outline-secondary" size="sm" class="ml-2">Remove</b-button>
            </span>
            <span v-else>
                There is no condition currently set. 
                <b-button v-if="user_permissions.add_leadership_condition" @click="mode = 'create'"
                    variant="outline-secondary" size="sm" class="ml-2">Add one?</b-button>
            </span>


        </span>

        <!-- If we're creating a new condition -->
        <span v-if="mode == 'create' && !condition_selected ">
            <b>Select condition to add</b> 
                <template><div>
                    <b-form-select v-model="condition_selected" :options="condition_options" :select-size="4"
                        name="condition_select">
                    </b-form-select>
                </div></template> 
            </span>
        </span>

        <!-- If we're updating an existing condition (or configuring a new condition that has been selected) -->
        <span v-if="mode == 'update' || condition_selected">

                <p class="mt-3"><b>Configure your condition</b></p>
                {% include 'groups/permissions/configuration_fields_include.html' %}

            <!-- Save configuration -->
            <b-button size="sm" class="mt-3" @click="add_condition()" id="save_condition_button">
                <span v-if="condition_selected && mode == 'create'">Save condition</span>
                <span v-if="existing_condition && mode == 'update'">Save changes</span>
            </b-button>

        </span>

    </div>

</script>

<script type="application/javascript">

    conditionComponent = Vue.component('manage-leadership-condition', {
        delimiters: ['[[', ']]'],
        template: '#leadership_condition_template',
        store, 
        props: ['mode_from_parent', 'called_for'],
        data: function() {
            return {
                condition_selected: '',
                mode: 'start',
                configuration_fields: [],
                error_message : ''
            }
        },
        mounted () {
            // No idea why this only works on mounted, not created
            this.checkPermissions({permissions: {
                add_leadership_condition: {leadership_type: this.called_for},
                remove_leadership_condition: {leadership_type: this.called_for}}
            }).catch(error => {  this.error_message = error; console.log(error) })
        },
        watch: {
            // The parent of the condition include can change the mode - overrides current mode (on change, not permanently)
            mode_from_parent: function (val) { this.mode = val; },                           
            condition_selected: function (val) {  this.update_configuration_fields() }
        },
        computed: {
            ...Vuex.mapState({ 
                condition_options: state => state.permissions.condition_options,
                owner_condition: state => state.permissions.owner_condition,
                governor_condition: state => state.permissions.governor_condition,
                user_permissions: state => state.permissions.current_user_permissions
            }),
            ...Vuex.mapGetters(['getConditionConfigurationFields', 'getLeadershipConditionConfigurationFieldsWithData', 
                'select_field_is_multiple', 'rolesAsOptions', 'groupMembersAsOptions']),
            existing_condition: function() {
                if (this.called_for == "owner" && this.owner_condition) {
                    return this.owner_condition
                } else if (this.called_for == "governor" && this.governor_condition) {
                    return this.governor_condition
                } 
                return null
            },
            condition_display_helper: function() {
                if (this.existing_condition) {
                    return this.existing_condition.how_to_pass
                }
            }
        },
        created (){ this.update_configuration_fields() },
        methods: {
            ...Vuex.mapActions(['checkPermissions', 'addCondition', 'updateCondition', 'removeCondition']),
            update_configuration_fields(){
                // Note that only one of condition_selected or condition_to_edit should be defined
                if (this.condition_selected) {
                    field_data = this.getConditionConfigurationFields(this.condition_selected)
                    this.configuration_fields = Object.values(field_data)
                }
                if (this.existing_condition) {
                    field_data = this.getLeadershipConditionConfigurationFieldsWithData(this.called_for)
                    this.configuration_fields = Object.values(field_data)
                }
            },
            add_condition(){
                if (this.condition_selected) { condition_type = this.condition_selected }
                else { condition_type = this.existing_condition["type"] }
                this.addCondition({ 
                    condition_type : condition_type, 
                    permission_or_leadership : "leadership",
                    leadership_type: this.called_for,
                    combined_condition_data: this.configuration_fields 
                }).then(response => { 
                    this.$emit("clearState"); 
                    this.condition_selected = ''; 
                    this.mode = 'start';
                }).catch(error => {  this.error_message = error })
            },
            remove_condition() {
                this.removeCondition({ permission_or_leadership: "leadership", leadership_type: this.called_for
                }).then(response => { 
                    this.$emit("clearState"); 
                    this.mode = 'start'; 
                }).catch(error => { this.error_message = error })
            }
        }
    });

</script>