<script type="text/x-template" id="permission_condition_template">

    <div> 

        <error-component :message=error_message></error-component>

        <!-- If we're creating a new condition -->
        <span v-if="!condition_selected && !existing_condition">
            <b>Select condition to add</b> 
                <template><div>
                    <b-form-select v-model="condition_selected" :options="condition_options" :select-size="4"
                        name="condition_select">
                    </b-form-select>
                </div></template> 
            </span>
        </span>

        <!-- If we're updating an existing condition (or configuring a new condition that has been selected) -->
        <span v-if="existing_condition || condition_selected">

                <p class="mt-3"><b>Configure your condition</b></p>
                {% include 'groups/permissions/configuration_fields_include.html' %}

            <!-- Save configuration -->
            <b-button size="sm" class="mt-3" @click="add_condition()" id="save_condition_button">
                <span v-if="condition_selected">Save condition</span>
                <span v-if="existing_condition">Save changes</span>
            </b-button>

        </span>

        <b-button size="sm" class="mt-3" @click="discard_changes()">Discard</b-button>

    </div>

</script>

<script type="application/javascript">

    conditionComponent = Vue.component('permission-condition', {
        delimiters: ['[[', ']]'],
        template: '#permission_condition_template',
        store, 
        props: ['permission'],
        data: function() {
            return {
                condition_selected: '',
                configuration_fields: [],
                error_message : ''
            }
        },
        watch: {                        
            condition_selected: function (val) {  this.update_configuration_fields() },
            permission_to_condition: function (val) {  this.update_configuration_fields() }
        },
        computed: {
            ...Vuex.mapState({ 
                condition_options: state => state.permissions.condition_options,
                permissions: state => state.permissions.permissions
                }),
            ...Vuex.mapGetters(['getConditionConfigurationFields', 'getPermissionConditionConfigurationFieldsWithData', 
                'select_field_is_multiple', 'rolesAsOptions', 'groupMembersAsOptions']),
            existing_condition: function() {
                if (this.permission.condition) { return this.permission.condition } 
                else { return null }
            }
        },
        created (){ this.update_configuration_fields() },
        methods: {
            ...Vuex.mapActions(['addCondition']),
            is_dependency_field(value){
                if (value && typeof(value) == "string") {
                    if (value.substring(value.length-2, value.length) == "}}" && value.substring(0,2) == "{{") { return true }
                }
                return false
            },
            change_dependent_field(emitted_data) {
                for (field_index in this.configuration_fields) {
                    if (this.configuration_fields[field_index].field_name == emitted_data.field_name) {
                        this.configuration_fields[field_index].value = emitted_data.new_string
                    }
                }
            },
            update_configuration_fields(){
                // Note that only one of condition_selected or condition_to_edit should be defined
                if (this.condition_selected) {
                    field_data = this.getConditionConfigurationFields(this.condition_selected)
                    this.configuration_fields = Object.values(field_data)
                }
                if (this.existing_condition) {
                    field_data = this.getPermissionConditionConfigurationFieldsWithData(this.permission.pk)
                    this.configuration_fields = Object.values(field_data)
                }
            },
            add_condition(){
                if (this.condition_selected) { condition_type = this.condition_selected }
                else { condition_type = this.existing_condition["type"] }

                this.addCondition({ 
                    condition_type : condition_type, 
                    permission_or_leadership : "permission",
                    permission_id : this.permission.pk,
                    combined_condition_data: this.configuration_fields 
                }).then(response => { 
                    this.condition_selected = '';
                    this.$emit('condition-finished');
                }).catch(error => {  this.error_message = error })
            },
            discard_changes() {
                this.condition_selected = '';
                this.$emit('condition-finished');
            }
            // NOTE: remove_condition logic is on the caller (usually edit_permission_component_include)
        }
    });

</script>