<script type="text/x-template" id="edit_role_modal_template">

    <b-modal id="edit_role_modal" :title="title_string" size="md" hide-footer @hide="clearState()">

        <b>People with this role can...</b>

        <b-list-group v-for="permission in role_permissions" v-bind:key="permission.pk">
            <b-list-group-item :id=pair_element_id(permission.pk) v-if="!anyone_toggle_on(permission.pk)">
                <div class="btn-group permission-row" role="group" aria-label="Basic example">
                    <b-button variant="light">
                        <small class="permission-display">[[ permission.display ]]</small>
                        <span v-on:click="edit_permission(permission.pk)" class="badge badge-light ml-1"  >🖉</span>
                        <span v-on:click="delete_permission(permission.pk)" class="badge badge-light ml-1"  >🗑</span>
                    </b-button>
                    <b-button v-if="permission.condition" variant="secondary">
                        <small>[[ pair.condition.display ]]</small>
                        <span v-on:click="edit_condition(permission.pk)" class="badge badge-secondary ml-1">🖉</span>
                        <span v-on:click="delete_condition(permission.pk)" 
                                                                            class="badge badge-secondary ml-1"  >🗑</span>
                    </b-button>
                    <b-button v-else v-on:click="add_condition(permission.pk)" variant="secondary"
                        ><small>add condition</small></b-button>
                </div>
            </b-list-group-item>
        </b-list-group>

        <p v-if="!role_permissions.length">This role has no permissions yet.</p>

        <div class="mb-3 text-danger" v-if="error_message">
            [[ error_message ]]
        </div>

        <manage-permission :permission_to_edit=permission_to_edit :mode_from_parent=permission_mode_from_parent
            :role_to_edit=role_to_edit :permission_options=group_permission_options @clearState=clearState>
        </manage-permission>
        <manage-permission-condition :mode_from_parent=condition_mode_from_parent :called_for="'permission'" 
            :permission_to_condition=permission_to_condition @clearState=clearState>
        </manage-permission-condition>

    </b-modal>

</script>

<script type="application/javascript">

    addRoleComponent = Vue.component('edit-role-modal', {
        delimiters: ['[[', ']]'],
        template: '#edit_role_modal_template',
        props: ['role_to_edit'],
        store,
        data: function() {
            return {                
                error_message: '',
                // props for permission component
                permission_to_edit: null,
                permission_mode_from_parent: 'start',
                // props for condition component
                permission_to_condition: null,
                condition_mode_from_parent: 'start'
            }
        },
        computed: {
            ...Vuex.mapState({ 
                permission_options: state => state.permissions.permission_options,
                permissions: state => state.permissions.permissions
                }),
            ...Vuex.mapGetters(['permissionsForRole']),           
            title_string: function () {
                return "Edit role '" + this.role_to_edit + "'"
            },
            role_permissions: function () {
                if (this.role_to_edit) {
                    return this.permissionsForRole(this.role_to_edit)
                } else {
                    console.log("No role to get permissions for")
                    return []
                }
            },
            group_permission_options: function() {
                return this.permission_options["group"]
            }
        },
        watch: {
            role_to_edit: function() { 
                // When role to edit has been set, trigger vuex to load/update permission & condition data related to the role
                this.prepEditRole() 
            }
        },
        methods: {
            ...Vuex.mapActions(['refreshRoleData', 'removePermission', 'removeCondition']),
            edit_permission(permission_id) {
                this.clearState()  // clear previous state
                this.permission_to_edit = permission_id
                this.permission_mode_from_parent = 'update'
            },
            pair_element_id: function(pk) {
                return "permission_element_" + pk
            },
            anyone_toggle_on(permission_id) {
                // If a permission's toggle gives anyone permission, it's not really for that role anymore
                return this.permissions[permission_id].anyone
            },
            add_condition(permission_id) {
                this.clearState()  // clear previous state
                this.permission_to_condition = permission_id
                this.condition_mode_from_parent = 'create'
            },
            edit_condition(permission_id) {
                this.clearState()  // clear previous state
                this.permission_to_condition = permission_id
                this.condition_mode_from_parent = 'update'
            },
            clearState() {
                this.mode = ''
                this.permission_to_edit = ''
                this.permission_to_condition = ''
                this.permission_mode_from_parent = 'start'
                this.condition_mode_from_parent = 'start'
            },
            prepEditRole() {
                this.refreshRoleData({ role: this.role_to_edit }).catch(error => { 
                    this.error_message = error.message
                })
            },
            delete_permission(id) {
                this.removePermission({ permission_id : id, item_or_role : "role" }).catch(error => { 
                    this.error_message = error.message
                })
            },
            delete_condition(permission_id) {
                this.removeCondition({ 
                    permission_id: permission_id,
                    permission_or_leadership: "permission"
                }).catch(error => {  this.error_message = error.message })
            }
        }
    });




</script>

