
<span class="text-left">

    <span v-if="anyone_can_take_permission">
        Anyone can take the action described by this permission.
        <span v-if="user_permissions.give_anyone_permission">
            You can remove the permission from anyone, and give it to the previous roles and/or actors specified.
            <b-button variant="outline-secondary" size="sm" @click="toggle_anyone('disable')">
                Remove from anyone</b-button>
        </span>
    </span>

    <span v-else>
        Currently, only the roles and actors below have this permission.
        <span v-if="user_permissions.remove_anyone_from_permission">
            You can give permission to everyone.
            <b-button variant="outline-secondary" size="sm" @click="toggle_anyone('enable')">
                Give to everyone</b-button></p>
        </span>
    </span>

</span>

<span v-if="!anyone_can_take_permission" class="text-left">

    <!-- Should be a choice field populated by current roles -->
    <div class="input-group mb-3 permissionrolefield">

        Roles who have this permission

        <vue-multiselect v-model=permission_roles_selected :multiple=true :options=rolesAsOptions :allow-empty="true"
            :close-on-select="true" placeholder="Select roles" label="name" track-by="name" name="permission_role_select"
            :disabled="permission_exists && !(user_permissions.add_role_to_permission || user_permissions.remove_role_from_permission)">
            <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span v-if="!isOpen">
                    Selected: [[ values ]]
                </span>
            </template>
        </vue-multiselect>

    </div>

    <!-- Should be a multiselect field populated by current members -->
    <div class="input-group mb-3 permissionactorfield">

        Actors who have this permission

        <vue-multiselect v-model=permission_actors_selected :multiple=true :options=groupMembersAsOptions :allow-empty="true"
            :close-on-select="true" placeholder="Select actors" label="name" track-by="pk" name="permission_actor_select"
            :disabled="permission_exists && !(user_permissions.add_actor_to_permission || user_permissions.remove_actor_from_permission)">
            <template slot="selection" slot-scope="{ values, search, isOpen }">
                <span v-if="!isOpen">
                    Selected: [[ values ]]
                </span>
            </template>
        </vue-multiselect>

    </div>

</span>
