<script type="text/x-template" id="edit_role_modal_template">

    <b-modal id="edit_role_modal" :title="title_string" size="md" hide-footer>

        <b>People with this role can...</b>

        <p v-if="!role_permissions.length">This role has no permissions yet.</p>

        <edit-permission v-for="permission in role_permissions" v-bind:key="permission.pk"
            :permission=permission :role_to_edit=role_to_edit> </edit-permission>
        <add-permission :role_to_edit=role_to_edit :item_model="'group'" :item_id=group_id> </add-permission>     

        <error-component :message=error_message></error-component>

    </b-modal>

</script>

<script type="application/javascript">

    addRoleComponent = Vue.component('edit-role-modal', {
        delimiters: ['[[', ']]'],
        template: '#edit_role_modal_template',
        props: ['role_to_edit'],
        store,
        data: function() {
            return {  
                group_id: {{ object.pk }},              
                error_message: ''
            }
        },
        computed: {
            ...Vuex.mapGetters(['permissionsForRole']),           
            title_string: function () {
                return "Edit role '" + this.role_to_edit + "'"
            },
            role_permissions: function () {
                if (this.role_to_edit) {
                    return this.permissionsForRole(this.role_to_edit)
                } else {
                    return []
                }
            }
        },
        watch: {
            role_to_edit: function() { 
                // When role to edit has been set, trigger vuex to load/update permission & condition data related to the role
                this.prepEditRole() 
            }
        },
        methods: {
            ...Vuex.mapActions(['refreshRoleData']),
            prepEditRole() {
                this.refreshRoleData({ role: this.role_to_edit }).catch(error => { 
                    this.error_message = error.message
                })
            }
        }
    });

</script>

